.blog {
	padding-bottom: var(--spacing-separator-m);
	.blog-wrapper {
		display: grid;
		grid-gap: var(--cards-coll-gap-mini-text);
		grid-template-columns: 320px auto;

		@include _1280 {
			grid-template-columns: 293px auto;
		}

		@include _1024 {
			grid-template-columns: 1fr;
		}
	}
}