@mixin set-typography($font-size, $font-weight, $font-color, $line-height, $letter-spacing: false, $text-transform: false) {
	@if $font-size !=false {
		font-size: $font-size;
	}

	@if $font-weight !=false {
		font-weight: $font-weight;
	}

	@if $font-color !=false {
		color: $font-color;
	}

	@if $line-height !=false {
		line-height: $line-height;
	}

	@if $letter-spacing !=false {
		letter-spacing: $letter-spacing;
	}

	@if $text-transform !=false {
		text-transform: $text-transform;
	}
}