.headline {
	overflow: hidden;
}

.masked-wrp {
	overflow: hidden;
	aspect-ratio: 1;
	width: 800px;
	margin-bottom: 20px;

	img {
		width: 100%;
		height: 100%;
	}
}

#banner-action-on-scroll,
#banner-action-on-scroll-reverse {
	margin: 0 auto;
}