.btns-container{
	margin-top: var(--spacing-actions-top-m);
}
.btn {
	display: inline-flex;
	height: var(--button-medium-btn-height);
	min-width: var(--button-medium-min-width);
	padding: var(--button-medium-top-bottom) var(--button-medium-left-right);
	justify-content: center;
	align-items: center;
	gap: var(--button-medium-btn-gap);
	flex-shrink: 0;
	border-radius: var(--button-medium-btn-radius);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 1.68px;
	text-transform: uppercase;
	cursor: pointer;
	transition: .3s;

	i {
		pointer-events: none;
		color: inherit;
	}

	&.disabled {
		pointer-events: none;
	}
}

.on-dark {
	.btn {
		&.fill {
			background: var(--btn-on-dark-fill-bg-default);
			color: var(--btn-on-dark-fill-label-default);

			&:hover {
				background: var(--btn-on-dark-fill-bg-hover);
				color: var(--btn-on-dark-fill-label-hover);
			}

			&.disabled {
				background: var(--btn-on-dark-fill-bg-disabled);
				color: var(--btn-on-dark-fill-label-disabled);
			}
		}

		&.stroke {
			color: var(--btn-on-dark-stroke-label-default);
			border: 1px solid var(--btn-on-dark-stroke-border-default);

			&:hover {
				border: 1px solid var(--btn-on-dark-stroke-border-hover);
				color: var(--btn-on-dark-stroke-label-hover)
			}

			&.disabled {
				border: 1px solid var(--btn-on-dark-stroke-border-disabled);
				color: var(--btn-on-dark-stroke-label-disabled);
			}
		}

		&.simple,
		&.text {
			&:hover {
				background: var(--btn-on-dark-text-bg-hover);
				color: var(--btn-on-dark-text-label-hover);
			}

			&.disabled {
				background: var(--btn-on-dark-text-bg-disabled);
				color: var(--btn-on-dark-text-label-disabled);
			}
		}
	}
}

.on-light {
	.btn {
		&.fill {
			background: var(--btn-on-light-fill-bg-default);
			color: var(--btn-on-light-fill-label-default);

			&:hover {
				background: var(--btn-on-light-fill-bg-hover);
				color: var(--btn-on-light-fill-label-hover);
			}

			&.disabled {
				background: var(--btn-on-light-fill-bg-disabled);
				color: var(--btn-on-light-fill-label-disabled);
			}
		}

		&.stroke {
			color: var(--btn-on-light-stroke-label-default);
			border: 1px solid var(--btn-on-light-stroke-border-default);

			&:hover {
				border: 1px solid var(--btn-on-light-stroke-border-hover);
				color: var(--btn-on-light-stroke-label-hover)
			}

			&.disabled {
				border: 1px solid var(--btn-on-light-stroke-border-disabled);
				color: var(--btn-on-light-stroke-label-disabled);
			}
		}

		&.simple,
		&.text {
			&:hover {
				background: var(--btn-on-light-text-bg-hover);
				color: var(--btn-on-light-text-label-hover);
			}

			&.disabled {
				background: var(--btn-on-light-text-bg-disabled);
				color: var(--btn-on-light-text-label-disabled);
			}
		}
	}
}