@import '../../mixinsAndVariables/breakpoints';

$gap-desktop: var(--spacing-separator-non) var(--spacing-container-left-right) var(--spacing-separator-s) var(--spacing-container-left-right);

$container-width: 1200px;
.container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0px var(--spacing-container-left-right);
}

.container-fluid {
    width: 100%;
    @media (min-width: 1440px) {
        padding: 0px var(--spacing-container-left-right)
    }
}
