body {
	font-family: "SFProDisplay";
	background-color: var(--main-bg);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

section {
	--bg-type: 'on-ligth';

	&.dark {
		--bg-type: 'on-dark';
	}
}
a{
	text-decoration: none;
}

// setMode
.setMode,
.setColors {
	position: fixed;
	top: 20px;
	right: 20px;
	display: flex;
	cursor: pointer;
	grid-gap: 10px;

	* {
		padding: 10px;
		background-color: #000;
		color: #fff
	}
}

img, video{
	max-width: 100%;
	display: block;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
ul {
	padding-left: 0;
	list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

p{
	margin-top: 0;
}

[class^="ic-"], [class*=" ic-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'nova-era' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: .3s;
	transform-origin: center;
  }