// Смотрим по макету какие отступы нужны
// Определите отступы в карте
$spaces: (
    L: (
        base: 75px,
        tablet: 50px,
        mobile: 25px,
    ),
    M: (
        base: 100px,
        tablet: 75px,
        mobile: 50px,
    ),
    S: (
        base: 25px,
        tablet: 0px,
        mobile: 0px,
    ),
    NON: (
        base: 0,
        tablet: 0,
        mobile: 0,
    ),
);
// Цикл для создания классов .top_separator и .bottom_separator
@each $size, $values in $spaces {
    .mt-#{$size} {
        padding-top: map-get($values, base);

        @media (max-width: 1024px) {
            padding-top: map-get($values, tablet);
        }

        @media (max-width: 576px) {
            padding-top: map-get($values, mobile);
        }
    }

    .mb-#{$size} {
        padding-bottom: map-get($values, base);

        @media (max-width: 1024px) {
            padding-bottom: map-get($values, tablet);
        }

        @media (max-width: 576px) {
            padding-bottom: map-get($values, mobile);
        }
    }
}
