// Смотрим по макету какие отступы нужны
// Определите отступы в карте
$spaces: (
    L: (
        base: var(--spacing-separator-l),
    ),
    M: (
        base: var(--spacing-separator-m),
    ),
    S: (
        base: var(--spacing-separator-s),
    ),
    XS: (
        base: var(--spacing-separator-xs),
    ),
    NON: (
        base: var(--spacing-separator-non),
    ),
);
// Цикл для создания классов .top_separator и .bottom_separator
@each $size, $values in $spaces {
    .mt-#{$size} {
        padding-top: map-get($values, base);
    }

    .mb-#{$size} {
        padding-bottom: map-get($values, base);
    }
}
