h1 {
	margin-top: 0;
}

.redactor {
	*:first-child {
		margin-top: 0;
	}

	*:last-child {
		margin-bottom: 0;
	}

	h1 {
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 120%;
	}

	h2 {
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
	}

	h3 {
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
	}

	h4 {
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
	}

	h5 {
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
	}

	h6 {
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
	}

	p,
	a {
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
	}

	a {
		color: var(--text-on-bg-on-default-link);
	}

	img {
		width: 100%;
	}
}