.redactor {
	*:first-child{
		margin-top: 0;
	}
	*:last-child{
		margin-bottom: 0;
	}
	h1 {
		color: var(--text-on-bg-on-default-text-primary);
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 120%;
	}

	h2 {
		color: var(--text-on-bg-on-default-text-primary);
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
	}

	h3 {
		color: var(--text-on-bg-on-default-text-primary);
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
	}

	h4 {
		color: var(--text-on-bg-on-default-text-primary);
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
	}

	h5 {
		color: var(--text-on-bg-on-default-text-primary);
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
	}

	h6 {
		color: var(--text-on-bg-on-default-text-primary);
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: 140%;
	}

	p,
	a {
		color: var(--text-on-bg-on-default-text-primary);
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
	}

	a {
		color: var(--text-on-bg-on-default-link);
	}

	img {
		width: 100%;
	}
}

@mixin setColors($textColor, $linkColor) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	code,
	span {
		color: var($textColor) !important
	}

	a {
		color: var($linkColor)!important
	}
};
@mixin setBgColor($bg){
	background: var($bg);
}

.on-light {
	&.bg-lighter, .bg-lighter{
		@include setBgColor(--bg-on-light-lighter);
		@include setColors(--text-on-light-bg-lighter-text-primary, --text-on-light-bg-lighter-link)
	}
	&.bg-darker, .bg-darker{
		@include setBgColor(--bg-on-light-darker);
		@include setColors(--text-on-light-bg-darker-text-primary, --text-on-light-bg-darker-link)
	}
}
.on-dark {
	&.bg-img, .bg-img{
		@include setColors(--text-on-dark-bg-img-text-primary, --text-on-dark-bg-img-link)
	}
	&.bg-lighter, .bg-lighter{
		@include setBgColor(--bg-on-dark-lighter);
		@include setColors(--text-on-dark-bg-lighter-text-primary, --text-on-dark-bg-lighter-link)
	}
	&.bg-darker, .bg-darker{
		@include setBgColor(--bg-on-dark-darker);
		@include setColors(--text-on-dark-bg-darker-text-primary, --text-on-dark-bg-darker-link)
	}
}
