.accordion {
	.accordion-title {
		position: relative;
		transition: .3s;
		min-height: var(--accordion-head-min-height);
		padding: var(--accordion-head-top-bottom-padding) 0px;
		align-items: center;
		grid-gap: 30px;
		font-variant-numeric: lining-nums proportional-nums;
		cursor: pointer;
		display: flex;
		@include set-typography(clamp(18px, 5vw, 20px), 500, var(--accordion-on-light-title-default), 140%);
		border-top: 1px solid var(--accordion-on-light-divider-default);

		i {
			color: #8D8F98;
			margin-left: auto;
			&::before {
				transition: .3s;
			}
		}

		&.active {
			i {
				&::before {
					content: "\e933";
				}
			}
		}
	}

	.accordion-content {
		border-bottom: 1px solid var(--accordion-divider);
		padding: var(--accordion-content-top-padding) var(--accordion-content-left-right-padding) 0px var(--accordion-content-left-right-padding);
		padding-bottom: var(--accordion-content-bottom-padding);

		>*:first-child {
			margin-top: 0;
		}

		>*:not(.btn):last-child {
			margin-bottom: 0;
			padding-bottom: 30px;
		}

		.btn-wrp {
			display: flex;
			justify-content: flex-end;
		}

		.btn {
			margin-left: auto;
		}
	}

	.column60 {
		.accordion-wrapper {
			width: 60%;

			@include _1024 {
				width: 100%;
			}

			&.numerical {
				counter-reset: section;
				
				.accordion-title:before {
					counter-increment: section;
					content: "0" counter(section) ". ";
				}
			}
		}
	}

	.block-wrapper {
		display: flex;
	}

	.right {
		justify-content: flex-end;
	}

	.center {
		justify-content: center;
	}

	.hasMiniText {
		grid-gap: var(--spacing-coll-gap-coll-2);
	}



	&.on-dark {
		.accordion {
			color: var(--accordion-on-dark-title-default) !important;
		}

		.accordion-title {

			&:hover {
				background: var(--accordion-on-dark-bg-hover) !important;

				&:before {
					background-color: unset;
				}
			}

			.icon {

				&::before,
				&::after {
					background-color: var(--accordion-on-dark-title-default) !important;
				}
			}

			&::before {
				content: '';
				background-color: var(--accordion-on-dark-divider-default) !important;
				height: 1px;
				width: calc(100% - 24px);
				position: absolute;
				bottom: 0;
				left: 0;
				transform: translateX(12px);
			}
		}
	}

	&.on-light {
		.accordion {
			color: var(--text-on-light-bg-darker-text-primary) !important;
		}

		.accordion-title {

			&:hover {
				background: var(--accordion-on-dark-bg-hover) !important;

				&:before {
					background-color: unset;
				}
			}

			.icon {

				&::before,
				&::after {
					background-color: var(--text-on-light-bg-darker-text-primary) !important;
				}
			}

			&::before {
				content: '';
				background-color: var(--accordion-on-light-bg-default) !important;
				height: 1px;
				width: calc(100% - 24px);
				position: absolute;
				bottom: 0;
				left: 0;
				transform: translateX(12px);
			}
		}
	}
}