.breadcrumbs {
	display: flex;
	grid-gap: 22px;
	flex-wrap: wrap;
	li {
		&:last-of-type {
			@include set-typography(16px, 400, var(--gray-600), 120%);
		}

		a {
			@include set-typography(16px, 400, var(--brand-1-700), 120%);
			position: relative;
			&:after{
				color: var(--gray-600);
				position: absolute;
				content: "\e924";
				bottom: 0;
				right: -20px;
				font-family: 'nova-era' !important;
			}
		}
	}
}
.articlepage{
	.breadcrumbs li:last-of-type a{
		position: static;
	}
}