.card-mini-text,
.blocks {

	.cards-wrapper {
		display: grid;
		grid-gap: var(--cards-coll-gap-s);

		&.card-in-row-4 {
			grid-template-columns: repeat(4, 1fr);

			@include _1024 {
				grid-template-columns: repeat(3, 1fr);
			}

			@include _640 {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&.card-in-row-3 {
			grid-template-columns: repeat(3, 1fr);

			@include _640 {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&.card-in-row-2 {
			grid-template-columns: repeat(2, 1fr);

			@include _640 {
				grid-template-columns: 1fr;
			}
		}

		&.card-on-light {
			&.card-bg-lighter {
				.card {
					border-radius: var(--border-radius-card-m);
					border: 1px solid var(--card-on-light-bg-darker-border-default);
					background: var(--card-on-light-bg-darker-bg-default);
				}
			}

			&.card-bg-darker {
				.card {
					border-radius: var(--border-radius-card-m);
					border: 1px solid var(--card-on-light-bg-lighter-border-default);
					background: var(--card-on-light-bg-lighter-bg-default);
				}
			}
		}

		&.card-on-dark {
			&.card-bg-lighter {
				.card {
					border-radius: var(--border-radius-card-m);
					border: 1px solid var(--card-on-dark-bg-darker-border-default);
					background: var(--card-on-dark-bg-darker-bg-default);
				}
			}

			&.card-bg-darker {
				.card {
					border-radius: var(--border-radius-card-m);
					border: 1px solid var(--card-on-dark-bg-lighter-border-default);
					background: var(--card-on-dark-bg-lighter-bg-default);
				}
			}
		}
	}

	.card {
		overflow: hidden;
		height: fit-content;
		display: flex;
		justify-content: center;

		.title-wrp {
			display: flex;
			grid-gap: 8px;

			i {
				font-size: 24px;
				color: var(--card-on-light-bg-darker-icon-default)
			}
		}

		h2 {
			padding-bottom: unset;
		}

		.description {
			overflow: hidden;
			@include set-typography(15px, 400, var(--text-on-light-bg-darker-high), 160%);

			p {
				margin: 0;
			}
		}

		.btn {
			margin-top: 10px;
		}
	}

	.card-info {
		display: flex;
		flex-direction: column;
		gap: var(--cards-item-gap-s, 8px);
	}
}

.blocks {
	.cards-wrapper {
		padding-top: var(--spacing-separator-xs);
		padding-bottom: 16px;
	}

	.card {
		padding: var(--cards-item-wrap-padding-m, 24px);

		h2 {
			@include set-typography(24px, 500, var(--card-on-light-bg-lighter-title-default), 120%);
		}

		.card-link {
			@include set-typography(24px, 400, var(--card-on-light-bg-darker-price), 140%);
			overflow: hidden;
			text-decoration: none;
		}

		.card-info {
			width: 100%;
		}
	}
}

.card-mini-text {
	.wrapper {
		display: grid;
		grid-template-columns: 320px auto;
		grid-gap: 40px;

		@include _1024 {
			grid-template-columns: 1fr;
		}
	}

	.card {
		h2 {
			@include set-typography(16px, 600, var(--card-on-light-bg-lighter-title-default), 140%);
		}

		&:nth-child(odd):last-of-type {
			grid-column: 1 / span 2;

			@include _1024 {
				grid-column: unset;
			}
		}
	}

	.btns-container {
		grid-column: 1 / span 2;
		margin-left: auto;

		@include _1024 {
			grid-column: unset;
		}
	}

	.card-info {
		padding: var(--cards-item-wrap-padding-s);
	}

	.arrow-icon {
		margin-left: auto;
	}
}

.mini-text {
	position: sticky;
	top: 0;
	height: fit-content;

	@include _1024 {
		position: unset;
	}

	h2 {
		padding-bottom: var(--spacing-page-headline-h2-bottom, 24px);
	}

	.redactor>* {
		@include set-typography(16px, 400, var(--text-on-light-bg-lighter-high), 160%);
	}
}