.card-mini-text {
	.wrapper {
		display: grid;
		grid-template-columns: 20% 80%;
	}

	.cards-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: var(--cards-coll-gap-m);
		padding-bottom: var(--cards-grid-row-bottom-padding-l);

		&.card-on-light {
			.card-info {
				padding: var(--cards-item-wrap-padding-m);
			}

			&.card-bg-lighter {
				.card {
					border-radius: var(--border-radius-card-m);
					border: 1px solid var(--card-on-light-bg-lighter-border-default);
					background: var(--card-on-light-bg-lighter-bg-default);
				}
			}

			&.card-bg-darker {
				.card {
					border-radius: var(--border-radius-card-m);
					border: 1px solid var(--card-on-light-bg-lighter-border-default);
					background: var(--card-on-light-bg-darker-bg-default);
				}
			}
		}

		&.card-on-dark {
			.card-info {
				padding: var(--cards-item-wrap-padding-m);
			}

			&.card-bg-lighter {
				.card {
					border-radius: var(--border-radius-card-m);
					border: 1px solid var(--card-on-dark-bg-lighter-border-default);
					background: var(--card-on-dark-bg-lighter-bg-default);
				}
			}

			&.card-bg-darker {
				.card {
					border-radius: var(--border-radius-card-m);
					border: 1px solid var(--card-on-dark-bg-lighter-border-default);
					background: var(--card-on-dark-bg-darker-bg-default);
				}
			}
		}
	}

	.card {
		overflow: hidden;
		height: fit-content;

		h2 {
			color: var(--card-on-light-bg-lighter-title-default);
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 140%;
		}

		.card-link,
		.description {

			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
			text-decoration: none;
		}

		.card-link {
			color: var(--card-on-light-bg-lighter-price);
		}

		.description {
			color: var(--text-on-light-bg-darker-text-primary);
		}

		.btn {
			margin-top: 10px;
		}
	}
}