.contacts {
	.contacts-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--spacing-coll-gap-coll-2);

		@include _1024 {
			grid-template-columns: 1fr;
		}
	}

	h2 {
		@include set-typography(24px, 600, var(--text-on-light-bg-darker-high), 120%, -0.48px);
		padding-bottom: var(--spacing-global-spacing-xxs);
	}

	.text {
		@include set-typography(16px, 400, var(--text-on-light-bg-darker-high), 160%);
		padding-bottom: var(--spacing-text-editor-default-p-bottom);
		margin-bottom: 0;
	}
}