.contacts {
	.contacts-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--spacing-coll-gap-coll-2);

		@include _1024 {
			grid-template-columns: 1fr;
		}
	}

	.form {
		display: grid;
		grid-gap: var(--spacing-global-spacing-s);
		border-radius: 12px;
		padding: 24px;
		border: 1px solid var(--border-on-light-bg-lighter-medium, #CEDFF3);
		background: var(--bg-on-light-lighter, #FFF);

		@include _1024 {
			max-width: 512px;
			margin: 0 auto;
		}

		.btns-container {
			justify-self: end;

			.btn {
				border: none
			}
		}

		// h2 {
		// 	@include set-typography(24px, 600, var(--text-on-light-bg-darker-high), 120%, -0.48px);
		// 	padding-bottom: var(--spacing-global-spacing-xxs);
		// }

		// .text {
		// 	@include set-typography(16px, 400, var(--text-on-light-bg-darker-high), 160%)
		// }

	}

	.form-wrapper-head {
		@include _1024 {
			display: flex;
			padding: var(--spacing-global-spacing-l) 0px var(--spacing-global-spacing-s) 0px;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			align-items: center;
		}

	}

	h2 {
		@include set-typography(24px, 600, var(--text-on-light-bg-darker-high), 120%, -0.48px);
		padding-bottom: var(--spacing-global-spacing-xxs);
	}

	.text {
		@include set-typography(16px, 400, var(--text-on-light-bg-darker-high), 160%);
		padding-bottom: var(--spacing-text-editor-default-p-bottom);
		margin-bottom: 0;
	}
}