.first-screen {
	overflow: hidden;
	position: relative;

	h1 {
		margin-bottom: var(--spacing-page-headline-h1-bottom);
	}

	.btns-container {
		display: flex;
		justify-content: flex-end;
	}

	&.fix-image {
		.image-column {
			@include _1024 {
				display: flex;
				justify-content: center;
			}

			img {
				width: var(--hero-img-fix-width);
			}
		}
	}

	&.column30 {
		padding: var(--spacing-separator-l) var(--spacing-container-left-right);

		.container {
			padding: 0;
			display: grid;
			align-items: center;
			grid-template-columns: 0.7fr 0.3fr;
			grid-gap: var(--spacing-coll-gap-coll-2);

			@include _1024 {
				grid-template-columns: 1fr;

				.image-column {
					order: -1;
				}
			}
		}
	}

	&.column50 {
		padding: var(--spacing-separator-m) var(--spacing-container-left-right);

		.container {
			padding: 0;
			display: grid;
			align-items: center;
			grid-template-columns: 0.5fr 0.5fr;
			// grid-gap: var(--spacing-coll-gap-coll-2);

			.text-column {
				padding: var(--hero-content-padding-top-l) var(--spacing-coll-padding-coll-2) var(--hero-content-padding-bottom-l) 0px;
			}

			@include _1024 {
				grid-template-columns: 1fr;

				.image-column {
					order: -1;
				}
			}
		}
	}

	&.section50 {
		@media (min-width: 1023px) and (max-width: 1440px) {
			padding-left: var(--spacing-container-left-right);
		}

		.container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
			padding: 0;

			.image-column {
				position: absolute;
				right: 0;
				width: 50%;
			}

			.text-column {
				padding: var(--hero-content-padding-top-l) var(--spacing-coll-padding-coll-2) var(--hero-content-padding-bottom-l) 0;
			}

			@include _1024 {
				grid-template-columns: 1fr;

				.image-column {
					position: static;
					width: 100%;
				}

				.text-column {
					padding: var(--hero-content-padding-top-l) var(--spacing-container-left-right);
				}
			}
		}
	}
}