[class^="hero"] {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.first-screen {
	overflow: hidden;
	position: relative;

	h1 {
		margin-bottom: var(--spacing-page-headline-h1-bottom);
		font-weight: 500;
	}

	&.fix-image {
		.image-column {
			@include _1024 {
				display: flex;
				justify-content: center;
			}

			img {
				width: var(--hero-img-fix-width);
			}
		}
	}
	&.column30 {
		padding: var(--spacing-separator-l) var(--spacing-container-left-right);

		.container {
			// padding: 0;
			display: grid;
			align-items: center;
			grid-template-columns: 0.7fr 0.3fr;
			grid-gap: var(--spacing-coll-gap-coll-2);

			@include _1024 {
				grid-template-columns: 1fr;

				.image-column {
					order: -1;
				}
			}
		}
	}

	&.column50,
	&.hero-cards {
		padding-bottom: var(--spacing-separator-m);
		padding-top: var(--spacing-separator-xs);
		// padding: var(--spacing-separator-m) var(--spacing-container-left-right);

		.container {
			// padding: 0;
			display: grid;
			align-items: center;
			grid-template-columns: 0.5fr 0.5fr;
			// grid-gap: var(--spacing-coll-gap-coll-2);

			.text-column {
				padding: var(--spacing-coll-padding-top-xs, 32px) var(--spacing-coll-padding-right-l, 100px) var(--spacing-coll-padding-bottom-non, 0px) 0px;	
			}

			@include _1024 {
				grid-template-columns: 1fr;
				grid-gap: 32px;
				.image-column {
					min-height: var(--image-height-m);
					order: -1;
				}
			}
		}
	}

	&.hero-cards {

		// background-color: gray;
		.cards {

			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 8px;

			@include _1280 {
				grid-template-columns: repeat(3, 1fr);
			}

			@include _1024 {
				grid-template-columns: repeat(5, 1fr);
			}

			@include _768 {
				grid-template-columns: repeat(4, 1fr);
			}

			@include _576 {
				grid-template-columns: repeat(3, 1fr);
			}

			@include _375 {
				grid-template-columns: repeat(2, 1fr);
			}

			.hero-card {
				background-color: #fff;
				border-radius: var(--border-radius-global-m);
				background: var(--bg-on-light-lighter);
				border: 1px solid var(--bg-on-light-lighter);
				padding: 16px !important;
				transition: .3s;

				&:not(&.hero-card-img):hover {
					background: var(--bg-on-light-darker);
					border-color: var(--border-on-light-bg-darker-medium);


				}

				&-link {
					display: block;
					height: 100%;
					position: relative;

					.icon {
						position: absolute;
						bottom: 0;
						left: 0;
					}
				}

				&-link,
				&-img {
					color: var(--text-on-light-bg-lighter-high);
					font-variant-numeric: lining-nums proportional-nums;
					font-size: 15px;
					font-style: normal;
					font-weight: 500;
					line-height: 140%;
					text-decoration: none;

					i {
						display: flex;
						align-items: center;
						justify-content: center;
						color: #fff;
						font-size: 24px;
						margin-top: 35px;
						width: 42px;
						height: 42px;
						background-color: var(--surface-primary-default);
						border-radius: 50%;
					}
				}

			}

			.hero-item {
				height: 130px;

				&:nth-child(10) {
					@include _768 {
						grid-column: 1 / span 2;
					}

					@include _576 {
						grid-column: unset;
					}
				}

				&:nth-child(11) {
					@include _768 {
						grid-column: 3 / span 2;
					}

					@include _576 {
						grid-column: 1 / span 3;
					}

					@include _375 {
						grid-column: unset;
					}
				}
			}

			.hero-card-img {
				border-radius: var(--border-radius-global-m);
				border: 6px solid var(--bg-on-light-lighter);
				// background: var(--bg) lightgray 50% / cover no-repeat;
				display: grid;
				grid-column: 3 / span 2;
				position: relative;
				video{
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: calc(var(--border-radius-global-m) - 6px);
				}
				.description {
					position: absolute;
					bottom: 0;
					left: 20px;
					color: var(--text-on-dark-bg-img-high) !important;
					@include set-typography(16px, 400, var(--text-on-dark-bg-img-high), normal, 0.16px);
					z-index: 2;
				}

				@include _1280 {
					order: 1;
					grid-column: 2 / span 2;
				}

				@include _1024 {
					order: 12;
					grid-column: 1 / -1;
				}

				@include _768 {
					order: 0
				}
			}
		}
	}
	&.without-img .container{
		display: grid;
		grid-template-columns: auto 320px;
		align-items: flex-end;
		@include _1024{
			grid-template-columns: 1fr;
		}
	}
	&.section50 {
		@media (min-width: 1023px) and (max-width: 1440px) {
			padding-left: var(--spacing-container-left-right);
		}

		.container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
			// padding: 0;

			.image-column {
				position: absolute;
				right: 0;
				width: 50%;
			}

			.text-column {
				padding: var(--spacing-coll-padding-top-l) var(--spacing-coll-padding-right-l) var(--spacing-coll-padding-bottom-l) 0px;
			}

			@include _1024 {
				grid-template-columns: 1fr;

				.image-column {
					position: static;
					width: 100%;
				}

				.text-column {
					padding: var(--spacing-coll-padding-top-l) var(--spacing-container-left-right);
				}
			}
		}
	}
}

@for $i from 1 through 15 {
	.hero-item:nth-child(#{$i}) {
		order: $i;
	}
}