[class^="hero"] {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.first-screen {
	overflow: hidden;
	position: relative;

	h1 {
		margin-bottom: var(--spacing-page-headline-h1-bottom);
	}

	.btns-container {
		display: flex;
		justify-content: flex-end;
	}

	&.fix-image {
		.image-column {
			@include _1024 {
				display: flex;
				justify-content: center;
			}

			img {
				width: var(--hero-img-fix-width);
			}
		}
	}

	&.column30 {
		padding: var(--spacing-separator-l) var(--spacing-container-left-right);

		.container {
			padding: 0;
			display: grid;
			align-items: center;
			grid-template-columns: 0.7fr 0.3fr;
			grid-gap: var(--spacing-coll-gap-coll-2);

			@include _1024 {
				grid-template-columns: 1fr;

				.image-column {
					order: -1;
				}
			}
		}
	}

	&.column50,
	&.hero-cards {
		padding: var(--spacing-separator-m) var(--spacing-container-left-right);

		.container {
			padding: 0;
			display: grid;
			align-items: center;
			grid-template-columns: 0.5fr 0.5fr;
			// grid-gap: var(--spacing-coll-gap-coll-2);

			.text-column {
				padding: var(--spacing-coll-padding-top-l) var(--spacing-coll-padding-right-l) var(--spacing-coll-padding-bottom-l) 0px;
			}

			@include _1024 {
				grid-template-columns: 1fr;

				.image-column {
					order: -1;
				}
			}
		}
	}

	&.hero-cards {

		// background-color: gray;
		.cards {
			
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 8px;

			@include _1280 {
				grid-template-columns: repeat(3, 1fr);
			}
			@include _1024 {
				grid-template-columns: repeat(5, 1fr);
			}
			@include _768 {
				grid-template-columns: repeat(4, 1fr);
			}
			@include _576 {
				grid-template-columns: repeat(3, 1fr);
			}

			.hero-card {
				background-color: #fff;
				border-radius: var(--border-radius-global-m, 12px);
				background: var(--bg-on-light-lighter, #FFF);
				padding: 16px !important;

				&-link,
				&-img {
					color: var(--text-on-light-bg-lighter-high);
					font-variant-numeric: lining-nums proportional-nums;
					font-size: 15px;
					font-style: normal;
					font-weight: 500;
					line-height: 140%;
					text-decoration: none;

					i {
						display: flex;
						align-items: center;
						justify-content: center;
						color: #fff;
						font-size: 24px;
						margin-top: 35px;
						width: 42px;
						height: 42px;
						background-color: var(--surface-primary-default);
						border-radius: 50%;
					}
				}

				&.hero-card-img {
					display: grid;
					grid-column: 3 / span 2;

					@include _1280 {
						order: 1;
						grid-column: 2 / span 2;
					}
					@include _1280 {
						order: 10;
						grid-column: 1 / -1;
					}
					@include _768 {
						order: 0
					}
				}
			}
		}
	}

	&.section50 {
		@media (min-width: 1023px) and (max-width: 1440px) {
			padding-left: var(--spacing-container-left-right);
		}

		.container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
			padding: 0;

			.image-column {
				position: absolute;
				right: 0;
				width: 50%;
			}

			.text-column {
				padding: var(--spacing-coll-padding-top-l) var(--spacing-coll-padding-right-l) var(--spacing-coll-padding-bottom-l) 0px;
			}

			@include _1024 {
				grid-template-columns: 1fr;

				.image-column {
					position: static;
					width: 100%;
				}

				.text-column {
					padding: var(--spacing-coll-padding-top-l) var(--spacing-container-left-right);
				}
			}
		}
	}
}

@for $i from 1 through 10 {
    .hero-card:nth-child(#{$i}) {
      order: $i;
    }
  }