.form-field {
	position: relative;
	width: 100%;

	textarea {
		resize: 0px;
		min-height: var(--form-text-area-height-input);
		padding: var(--form-text-field-underlined-base-padding-input-top-bottom) 0px;


	}

	input,
	textarea {
		display: flex;
		height: var(--form-text-field-outlined-haight-placeholder-input);
		width: 100%;
		padding: var(--form-text-field-outlined-padding-input-top-bottom) var(--form-text-field-outlined-padding-input-left-right);
		align-items: center;
		gap: var(--form-text-field-underlined-base-gap-gap-horisontal);
		align-self: stretch;
		border-radius: var(--form-text-field-outlined-radius-radius-input);
		border: 1px solid var(--text-field-underline-border-enabled);
		transition: .3s;
		outline: none;
		color: var(--text-field-underline-input-text-focused);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		background-color: transparent;

		&::placeholder {
			color: var(--text-field-underline-label-enabled);
		}

		&:hover {
			border-color: var(--text-field-underline-border-hover);
		}

		&:focus,
		&:active {
			border-color: var(--text-field-underline-border-focused);
			box-shadow: 0px 0px 1px 1px var(--text-field-underline-border-focused);
		}

	}

	span {
		// position: absolute;
		@include set-typography(14px, 500, var(--text-field-underline-label-filled) !important, 100%, 0.56px);
		// top: 50%;
		// transition: 0.3s;
	}

	&.error {
		span {
			color: var(--text-field-underline-helper-error-text-error);
		}

		input,
		textarea {
			border-color: var(--text-field-underline-border-error);
			color: var(--text-field-underline-input-text-error);

			&::placeholder {
				color: var(--text-field-underline-placeholder-error)
			}

			&:hover {
				border-color: var(--text-field-underline-border-error-hover)
			}

			&:focus,
			&:active {
				border-color: var(--text-field-underline-border-error-focused);
				box-shadow: 0px 0px 1px 1px var(--text-field-underline-border-error-focused);
			}
		}
	}

	&.disabled {
		pointer-events: none;

		span {
			color: var(--text-field-underline-label-disabled)
		}


		input,
		textarea {
			border-color: var(--text-field-underline-border-disabled);
			color: var(--text-field-underline-input-text-disabled);

			&::placeholder {
				color: var(--text-field-underline-label-disabled)
			}
		}
	}

	&.underline {

		input,
		textarea {
			border: none;
			border-radius: unset;
			border-bottom: 1px solid var(--text-field-underline-border-enabled);

			&:focus,
			&:active {
				border-width: 2px;
				box-shadow: unset;
			}
		}
	}

	h2 {
		@include set-typography(24px, 600, var(--text-on-light-bg-darker-high), 120%, -0.48px);
		padding: 0;
	}

	.text {
		@include set-typography(16px, 400, var(--text-on-light-bg-darker-high), 160%)
	}
}