header {
	display: flex;
	justify-content: space-between;
	height: 80px;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.left-column {
		display: flex;
		align-items: center;
		grid-gap: 48px;
		.logo{
			height: 36px;
		}
	}

	a {
		text-decoration: none;
	}

	.menu {
		list-style: none;
		display: flex;
	}

	.menu__item {
		position: relative;
		display: flex;
		padding: 8px var(-header-main-nav-item-padding-left-right, 12px);
		align-items: center;
		grid-gap: var(--header-main-nav-item-gap, 4px);
		align-self: stretch;
	}

	.menu__item:hover .submenu {
		display: grid;
		gap: 30px;
	}

	.menu__item__link {
		@include set-typography(16px, 500, var(--header-items-on-light-main-nav-label-default), normal);
		text-decoration: none;
		padding: var(--header-main-nav-item-padding-top-bottom) var(--header-main-nav-item-padding-left-right);
		transition: .3s;

		&:hover {
			color: #007bff;
		}
	}

	/* Стиль для підменю першого рівня */
	.submenu {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 100;
		border: 1px solid #ccc;
		padding: 10px;
		border-radius: var(--border-radius-image-m);
		border: 1px solid var(--brand-1-200);
		box-shadow: 0px 0px 0px 6px rgba(123, 136, 153, 0.08);
		background: #FFF;
		width: 344px;

		.list-wrapper {
			padding: 16px;

			&.custom ul {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}

			h4 {
				margin-top: 0px;
				@include set-typography(16px, 600, var(--header-items-on-light-main-nav-label-default), normal);
			}
		}

		&.double-column {
			width: 688px;
			grid-template-columns: 1fr 1fr;
		}

		.submenu__item {
			position: relative;
			margin-bottom: 21px;

			a {
				@include set-typography(16px, 600, var(--header-items-on-light-main-nav-label-default), normal);
			}

			p {
				@include set-typography(14px, 400, var(--text-on-light-bg-lighter-tertiary), normal);
				margin-bottom: 0;
			}
		}
	}

	// TODO
	/* Стиль для підменю другого рівня */
	.sub2menu {
		display: none;
		position: absolute;
		top: 0;
		left: 100%;
		background-color: #fff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		z-index: 1000;
		border: 1px solid #ccc;
		border-left: none;
		padding: 10px 0;
	}

	.submenuitem:hover .sub2menu {
		display: block;
	}

	.sub2item:hover {
		background-color: #f4f4f4;
	}

	.sub2item a {
		display: block;
		padding: 10px 15px;
		text-decoration: none;
		color: #333;
		transition: background-color 0.3s ease;
	}

	// r-column
	.actions {
		display: flex;
		align-items: center;
	}

	.lang-switcher {
		display: flex;
		align-items: center;
		padding: var(--header-main-nav-item-padding-top-bottom) var(--header-main-nav-item-padding-left-right);
		position: relative;

		&:hover .other-langs {
			opacity: 1;
			visibility: visible;
		}

		.icon {
			margin-right: 4px;
			font-size: 20px;
			cursor: pointer;
			color: #3783E1;
		}

		.lang {
			display: flex;
			text-decoration: none;
			@include set-typography(16px, 500, var(--header-items-on-light-main-nav-label-default), normal);
		}

		.selected-lang {
			cursor: pointer;
		}

		.other-langs {
			opacity: 0;
			visibility: hidden;
			transition: .3s;
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			border-radius: var(--border-radius-global-m, 12px);
			border: 1px solid var(--border-on-light-bg-lighter-medium);
			background: var(--bg-on-light-lighter);
			box-shadow: 0px 0px 0px 6px rgba(123, 136, 153, 0.08);
			padding: var(--header-drop-menu-wrap-padding-s);
			display: flex;
			justify-content: center;
			width: 56px;

			.lang {
				padding: 8px 0px;
			}
		}
	}
}

header {
	.burger-menu-trigger {
		display: none;
		&.active::before{
			content: "\e927";
		}
		@include _1280 {
			// padding: var(--button-small-top-bottom) var(--button-small-left-right);
			border-radius: var(--button-small-btn-radius);
			background: var(--btn-secondary-on-light-fill-opacity-bg-default);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 42px;
		}
	}

	@include _1280 {

		.menu {
			display: none;
		}
	}

	@include _1024 {
		.lang-switcher {
			display: none;
		}
	}
	@include _576{
		.secondary{
			display: none;
		}
	}
	@include _425{
		.primary{
			display: none;
		}
	}
}