.image-and-text {
	.text-wrapper {
		display: flex;
		justify-content: space-between;
		grid-gap: var(--spacing-coll-gap-coll-2);
		@include _1024 {
			flex-direction: column;
		}
		.text,
		.image {
			width: 50%;
			@include _1024 {
				width: 100%;
			}
		}
		.redactor, .image img{
			position: sticky;
			top: 0px;
		}
		&.right {
			flex-direction: row-reverse;
		}

		&.top {
			flex-direction: column;
			.text,
			.image {
				width: 100%;
			}
		}
	}
	.btns-container{
		display: inline-flex;
		flex-direction: column;
		grid-gap: 8px;
	}
}