.mobile-menu {
	position: fixed;
	top: 80px;
	opacity: 0;
	width: 100%;
	height: calc(100% - 80px);
	background-color: #fff;
	z-index: 100;
	display: flex;
	flex-direction: column;
	padding-bottom: var(--spacing-global-spacing-l);
	transition: .3s;
	left: -100%;

	&.show {
		left: 0;
		opacity: 1;
	}

	nav {
		flex-grow: 1;
	}

	.mobile-menu-footer {
		flex-shrink: 0;
		padding: var(--spacing-global-spacing-s) var(--spacing-global-spacing-m) 0px var(--spacing-global-spacing-m);
		display: flex;
		justify-content: space-between;

		@include _576 {
			flex-direction: column;
		}

		.lang-switcher {
			display: flex;

			.lang {
				display: flex;
				padding: var(--header-main-nav-item-padding-top-bottom, 20px) var(--header-main-nav-item-padding-left-right, 32px);
				align-items: center;
				gap: var(--header-main-nav-item-gap, 4px);

				&.active {
					color: var(--header-items-on-light-main-nav-label-current);
				}
			}
		}
	}

	.menu {
		margin: 0;
	}

	.menu__item {
		&__link {
			margin-bottom: -1px;
			border-bottom: 1px solid var(--border-on-light-bg-lighter-tertiary);
			border-top: 1px solid var(--border-on-light-bg-lighter-tertiary);
			display: flex;
			justify-content: space-between;
			padding: var(--header-main-nav-item-padding-top-bottom) var(--header-main-nav-item-padding-left-right);
			grid-gap: var(--header-main-nav-item-gap, 4px);
			@include set-typography(20px, 400, var(--header-items-on-light-main-nav-label-default), normal);
			transition: .3s;

			&:hover,
			&.active {
				color: var(--header-items-on-light-main-nav-label-hover)
			}

			&.active i {
				transform: rotate(180deg);
			}
		}
	}

	.submenu {
		padding: var(--header-drop-menu-wrap-padding-m) 0px;
	}

	.submenu__item__link,
	h4 {
		display: flex;
		padding: var(--header-drop-menu-item-2-padding-top-bottom) var(--header-drop-menu-item-2-padding-left-right);
		grid-gap: var(--header-main-nav-item-gap);
		@include set-typography(18px, 400, var(--header-items-on-light-main-nav-label-default), normal)
	}

	.custom {
		padding-top: var(--spacing-global-spacing-xs);

		a {
			color: var(--text-on-light-bg-lighter-medium)
		}
	}
}