[data-windowsize="1440-1280"] {
	/* numbers */
	--accordion-content-top-padding: 8px;
	--accordion-content-bottom-padding: 16px;
	--accordion-content-left-right-padding: 16px;
	--accordion-head-left-right-padding: 12px;
	--accordion-head-top-bottom-padding: 16px;
	--accordion-head-min-height: 70px;
	--accordion-wrap-list-gap: 0px;
	--border-radius-accordeon-wrap: 0px;
	--border-radius-drop-menu: 8px;
	--border-radius-accordion-head: 12px;
	--border-radius-banner: 12px;
	--border-radius-step-marker: 12px;
	--border-radius-thesis: 30px;
	--border-radius-card-0: 0px;
	--border-radius-card-ic-wrap: 8px;
	--border-radius-card-m: 12px;
	--border-radius-image-0: 0px;
	--border-radius-image-m: 12px;
	--button-medium-btn-gap: 4px;
	--button-medium-top-bottom: 16px;
	--button-medium-left-right: 24px;
	--button-medium-btn-radius: 30px;
	--button-medium-btn-height: 52px;
	--button-medium-min-width: 150px;
	--button-small-btn-gap: 4px;
	--button-small-left-right: 16px;
	--button-small-top-bottom: 16px;
	--button-small-btn-radius: 30px;
	--button-small-btn-height: 42px;
	--button-small-min-width: 80px;
	--cards-coll-gap-s: 16px;
	--cards-coll-gap-m: 24px;
	--cards-coll-gap-2-coll-with-mini-text: 40px;
	--cards-coll-gap-l: 48px;
	--cards-grid-second-col-top-padding: 0px;
	--cards-grid-row-bottom-padding-m: 32px;
	--cards-grid-row-bottom-padding-l: 64px;
	--cards-item-price-padding: 4px;
	--cards-item-title-bottom-padding: 4px;
	--cards-item-text-padding: 8px;
	--cards-item-actions-padding: 16px;
	--cards-item-text-max-height: 120px;
	--cards-item-haight: 540px;
	--cards-item-visual-padding-s: 8px;
	--cards-item-visual-padding-m: 16px;
	--cards-item-wrap-padding-non: 0px;
	--cards-item-wrap-padding-s: 16px;
	--cards-item-wrap-padding-m: 24px;
	--cards-item-wrap-padding-bg-img-non: 0px;
	--cards-item-wrap-padding-bg-img-s: 16px;
	--cards-item-wrap-padding-bg-img-m: 24px;
	--checkbox-border-radius: 4px;
	--checkbox-haight: 20px;
	--checkbox-width: 20px;
	--form-container-in-popup: 480px;
	--form-container-in-block: 560px;
	--form-input-file-gap-gap-horisontal: 8px;
	--form-input-file-haight-placeholder-input: 64px;
	--form-input-file-padding-input-left-right: 16px;
	--form-input-file-radius-radius-input: 16px;
	--form-text-area-height-input: 100px;
	--form-text-field-outlined-gap-gap-horisontal: 4px;
	--form-text-field-outlined-haight-label: 21px;
	--form-text-field-outlined-haight-placeholder-input: 46px;
	--form-text-field-outlined-padding-helper-text-top: 2px;
	--form-text-field-outlined-padding-label-bottom: 2px;
	--form-text-field-outlined-padding-input-left-right: 12px;
	--form-text-field-outlined-padding-label-helper-left: var(--form-text-field-outlined-radius-radius-input);
	--form-text-field-outlined-padding-input-top-bottom: 14px;
	--form-text-field-outlined-radius-radius-input: 12px;
	--form-text-field-underlined-base-gap-gap-horisontal: 4px;
	--form-text-field-underlined-base-haight-label: 21px;
	--form-text-field-underlined-base-haight-placeholder-input: 32px;
	--form-text-field-underlined-base-icon-size-ic-haight: 18px;
	--form-text-field-underlined-base-icon-size-ic-width: 18px;
	--form-text-field-underlined-base-padding-helper-text-top: 2px;
	--form-text-field-underlined-base-padding-label-bottom: 2px;
	--form-text-field-underlined-base-padding-input-top-bottom: 12px;
	--hero-img-fix-width: 320px;
	--hero-img-min-hight: 600px;
	--hero-content-padding-bottom-s: 60px;
	--hero-content-padding-bottom-m: 80px;
	--hero-content-padding-bottom-l: 120px;
	--hero-content-padding-top-s: 60px;
	--hero-content-padding-top-m: 80px;
	--hero-content-padding-top-l: 120px;
	--img-banner-text-img-height: 0px;
	--spacing-actions-top-s: 8px;
	--spacing-actions-top-m: 24px;
	--spacing-actions-top-l: 60px;
	--spacing-article-container-width: 960px;
	--spacing-coll-gap-coll-6: 4px;
	--spacing-coll-gap-coll-4: 16px;
	--spacing-coll-gap-coll-3: 48px;
	--spacing-coll-gap-coll-2: 130px;
	--spacing-coll-padding-coll-2: 120px;
	--spacing-container-left-right-non: 0px;
	--spacing-container-left-right: 32px;
	--spacing-container-max-width: 1200px;
	--spacing-global-spacing-non: 0px;
	--spacing-global-spacing-xxs: 8px;
	--spacing-global-spacing-xs: 16px;
	--spacing-global-spacing-s: 24px;
	--spacing-global-spacing-m: 32px;
	--spacing-global-spacing-l: 48px;
	--spacing-global-spacing-xl: 62px;
	--spacing-global-spacing-xxl: 78px;
	--spacing-global-spacing-xxxl: 120px;
	--spacing-page-headline-h1-bottom: 16px;
	--spacing-page-headline-h3-bottom: 16px;
	--spacing-page-headline-h2-bottom: 24px;
	--spacing-separator-non: 0px;
	--spacing-separator-xs: 24px;
	--spacing-separator-s: 32px;
	--spacing-separator-m: 80px;
	--spacing-separator-l: 120px;
	--steps-title-top-bottom-padding: 4px;
	--steps-item-bottom-padding: 8px;
	--steps-divider-left: 12px;
	--steps-coll: 16px;
	--steps-text-coll: 16px;
	--steps-marker-top-bottom-padding: 8px;
	--steps-marker-width: 50px;
	--steps-title-only-item-paddings: 12px;
	--steps-title-only-gap-between-items: 16px;
	--table-cell-left-right-padding: 0px;
	--table-row-left-right-padding: 0px;
	--table-cell-top-bottom-padding: 16px;
	--table-row-gap: 32px;
	--theses-gap: 4px;
	--theses-top-bottom-padding: 12px;
	--theses-left-right-padding: 16px;
}

[data-windowsize="1279-1024"] {
	/* numbers */
	--accordion-content-top-padding: 8px;
	--accordion-content-bottom-padding: 16px;
	--accordion-content-left-right-padding: 16px;
	--accordion-head-left-right-padding: 12px;
	--accordion-head-top-bottom-padding: 16px;
	--accordion-head-min-height: 70px;
	--accordion-wrap-list-gap: 0px;
	--border-radius-accordeon-wrap: 0px;
	--border-radius-drop-menu: 8px;
	--border-radius-accordion-head: 12px;
	--border-radius-banner: 12px;
	--border-radius-step-marker: 12px;
	--border-radius-thesis: 30px;
	--border-radius-card-0: 0px;
	--border-radius-card-ic-wrap: 8px;
	--border-radius-card-m: 12px;
	--border-radius-image-0: 0px;
	--border-radius-image-m: 12px;
	--button-medium-btn-gap: 4px;
	--button-medium-top-bottom: 16px;
	--button-medium-left-right: 24px;
	--button-medium-btn-radius: 30px;
	--button-medium-btn-height: 52px;
	--button-medium-min-width: 150px;
	--button-small-btn-gap: 4px;
	--button-small-left-right: 16px;
	--button-small-top-bottom: 16px;
	--button-small-btn-radius: 30px;
	--button-small-btn-height: 42px;
	--button-small-min-width: 80px;
	--cards-coll-gap-s: 16px;
	--cards-coll-gap-m: 24px;
	--cards-coll-gap-2-coll-with-mini-text: 40px;
	--cards-coll-gap-l: 48px;
	--cards-grid-second-col-top-padding: 0px;
	--cards-grid-row-bottom-padding-m: 32px;
	--cards-grid-row-bottom-padding-l: 64px;
	--cards-item-price-padding: 4px;
	--cards-item-title-bottom-padding: 4px;
	--cards-item-text-padding: 8px;
	--cards-item-actions-padding: 16px;
	--cards-item-text-max-height: 120px;
	--cards-item-haight: 540px;
	--cards-item-visual-padding-s: 8px;
	--cards-item-visual-padding-m: 16px;
	--cards-item-wrap-padding-non: 0px;
	--cards-item-wrap-padding-s: 16px;
	--cards-item-wrap-padding-m: 24px;
	--cards-item-wrap-padding-bg-img-non: 0px;
	--cards-item-wrap-padding-bg-img-s: 16px;
	--cards-item-wrap-padding-bg-img-m: 24px;
	--checkbox-border-radius: 4px;
	--checkbox-haight: 20px;
	--checkbox-width: 20px;
	--form-container-in-popup: 480px;
	--form-container-in-block: 560px;
	--form-input-file-gap-gap-horisontal: 8px;
	--form-input-file-haight-placeholder-input: 64px;
	--form-input-file-padding-input-left-right: 16px;
	--form-input-file-radius-radius-input: 16px;
	--form-text-area-height-input: 100px;
	--form-text-field-outlined-gap-gap-horisontal: 4px;
	--form-text-field-outlined-haight-label: 21px;
	--form-text-field-outlined-haight-placeholder-input: 46px;
	--form-text-field-outlined-padding-helper-text-top: 2px;
	--form-text-field-outlined-padding-label-bottom: 2px;
	--form-text-field-outlined-padding-input-left-right: 12px;
	--form-text-field-outlined-padding-label-helper-left: var(--form-text-field-outlined-radius-radius-input);
	--form-text-field-outlined-padding-input-top-bottom: 14px;
	--form-text-field-outlined-radius-radius-input: 12px;
	--form-text-field-underlined-base-gap-gap-horisontal: 4px;
	--form-text-field-underlined-base-haight-label: 21px;
	--form-text-field-underlined-base-haight-placeholder-input: 32px;
	--form-text-field-underlined-base-icon-size-ic-haight: 18px;
	--form-text-field-underlined-base-icon-size-ic-width: 18px;
	--form-text-field-underlined-base-padding-helper-text-top: 2px;
	--form-text-field-underlined-base-padding-label-bottom: 2px;
	--form-text-field-underlined-base-padding-input-top-bottom: 12px;
	--hero-img-fix-width: 320px;
	--hero-img-min-hight: 600px;
	--hero-content-padding-bottom-s: 60px;
	--hero-content-padding-bottom-m: 80px;
	--hero-content-padding-bottom-l: 120px;
	--hero-content-padding-top-s: 60px;
	--hero-content-padding-top-m: 80px;
	--hero-content-padding-top-l: 120px;
	--img-banner-text-img-height: 320px;
	--spacing-actions-top-s: 8px;
	--spacing-actions-top-m: 24px;
	--spacing-actions-top-l: 32px;
	--spacing-article-container-width: 960px;
	--spacing-coll-gap-coll-6: 4px;
	--spacing-coll-gap-coll-4: 16px;
	--spacing-coll-gap-coll-3: 24px;
	--spacing-coll-gap-coll-2: 56px;
	--spacing-coll-padding-coll-2: 56px;
	--spacing-container-left-right-non: 0px;
	--spacing-container-left-right: 32px;
	--spacing-container-max-width: 1200px;
	--spacing-global-spacing-non: 0px;
	--spacing-global-spacing-xxs: 8px;
	--spacing-global-spacing-xs: 16px;
	--spacing-global-spacing-s: 24px;
	--spacing-global-spacing-m: 32px;
	--spacing-global-spacing-l: 48px;
	--spacing-global-spacing-xl: 62px;
	--spacing-global-spacing-xxl: 78px;
	--spacing-global-spacing-xxxl: 120px;
	--spacing-page-headline-h1-bottom: 16px;
	--spacing-page-headline-h3-bottom: 16px;
	--spacing-page-headline-h2-bottom: 24px;
	--spacing-separator-non: 0px;
	--spacing-separator-xs: 24px;
	--spacing-separator-s: 32px;
	--spacing-separator-l: 80px;
	--spacing-separator-m: 80px;
	--steps-title-top-bottom-padding: 4px;
	--steps-item-bottom-padding: 8px;
	--steps-divider-left: 12px;
	--steps-coll: 16px;
	--steps-text-coll: 16px;
	--steps-marker-top-bottom-padding: 8px;
	--steps-marker-width: 50px;
	--steps-title-only-item-paddings: 12px;
	--steps-title-only-gap-between-items: 16px;
	--table-cell-left-right-padding: 0px;
	--table-row-left-right-padding: 0px;
	--table-cell-top-bottom-padding: 16px;
	--table-row-gap: 32px;
	--theses-gap: 4px;
	--theses-top-bottom-padding: 12px;
	--theses-left-right-padding: 16px;
}

[data-windowsize="1023-768"] {
	/* numbers */
	--accordion-content-left-right-padding: 0px;
	--accordion-content-top-padding: 8px;
	--accordion-content-bottom-padding: 16px;
	--accordion-head-left-right-padding: 0px;
	--accordion-head-top-bottom-padding: 16px;
	--accordion-head-min-height: 64px;
	--accordion-wrap-list-gap: 0px;
	--border-radius-accordeon-wrap: 0px;
	--border-radius-accordion-head: 0px;
	--border-radius-drop-menu: 8px;
	--border-radius-banner: 12px;
	--border-radius-step-marker: 12px;
	--border-radius-thesis: 30px;
	--border-radius-card-0: 0px;
	--border-radius-card-ic-wrap: 8px;
	--border-radius-card-m: 12px;
	--border-radius-image-0: 0px;
	--border-radius-image-m: 12px;
	--button-medium-btn-gap: 4px;
	--button-medium-top-bottom: 16px;
	--button-medium-left-right: 24px;
	--button-medium-btn-radius: 30px;
	--button-medium-btn-height: 52px;
	--button-medium-min-width: 150px;
	--button-small-btn-gap: 4px;
	--button-small-left-right: 16px;
	--button-small-top-bottom: 16px;
	--button-small-btn-radius: 30px;
	--button-small-btn-height: 42px;
	--button-small-min-width: 80px;
	--cards-coll-gap-m: 16px;
	--cards-coll-gap-s: 16px;
	--cards-coll-gap-l: 24px;
	--cards-coll-gap-2-coll-with-mini-text: 40px;
	--cards-grid-second-col-top-padding: 0px;
	--cards-grid-row-bottom-padding-l: 32px;
	--cards-grid-row-bottom-padding-m: 32px;
	--cards-item-price-padding: 4px;
	--cards-item-title-bottom-padding: 4px;
	--cards-item-text-padding: 8px;
	--cards-item-actions-padding: 16px;
	--cards-item-text-max-height: 120px;
	--cards-item-haight: 520px;
	--cards-item-visual-padding-s: 8px;
	--cards-item-visual-padding-m: 16px;
	--cards-item-wrap-padding-non: 0px;
	--cards-item-wrap-padding-m: 16px;
	--cards-item-wrap-padding-s: 16px;
	--cards-item-wrap-padding-bg-img-non: 0px;
	--cards-item-wrap-padding-bg-img-s: 16px;
	--cards-item-wrap-padding-bg-img-m: 24px;
	--checkbox-border-radius: 4px;
	--checkbox-haight: 20px;
	--checkbox-width: 20px;
	--form-container-in-popup: 480px;
	--form-container-in-block: 560px;
	--form-input-file-gap-gap-horisontal: 8px;
	--form-input-file-haight-placeholder-input: 80px;
	--form-input-file-padding-input-left-right: 16px;
	--form-input-file-radius-radius-input: 16px;
	--form-text-area-height-input: 100px;
	--form-text-field-outlined-gap-gap-horisontal: 4px;
	--form-text-field-outlined-haight-label: 21px;
	--form-text-field-outlined-haight-placeholder-input: 50px;
	--form-text-field-outlined-padding-helper-text-top: 2px;
	--form-text-field-outlined-padding-label-bottom: 2px;
	--form-text-field-outlined-padding-input-left-right: 12px;
	--form-text-field-outlined-padding-label-helper-left: var(--form-text-field-outlined-radius-radius-input);
	--form-text-field-outlined-padding-input-top-bottom: 14px;
	--form-text-field-outlined-radius-radius-input: 12px;
	--form-text-field-underlined-base-gap-gap-horisontal: 4px;
	--form-text-field-underlined-base-haight-label: 21px;
	--form-text-field-underlined-base-haight-placeholder-input: 40px;
	--form-text-field-underlined-base-icon-size-ic-haight: 18px;
	--form-text-field-underlined-base-icon-size-ic-width: 18px;
	--form-text-field-underlined-base-padding-helper-text-top: 2px;
	--form-text-field-underlined-base-padding-label-bottom: 2px;
	--form-text-field-underlined-base-padding-input-top-bottom: 12px;
	--hero-img-fix-width: 320px;
	--hero-img-min-hight: 460px;
	--hero-content-padding-bottom-l: 60px;
	--hero-content-padding-bottom-m: 60px;
	--hero-content-padding-bottom-s: 60px;
	--hero-content-padding-top-m: 60px;
	--hero-content-padding-top-s: 60px;
	--hero-content-padding-top-l: 120px;
	--img-banner-text-img-height: 280px;
	--spacing-actions-top-s: 8px;
	--spacing-actions-top-m: 24px;
	--spacing-actions-top-l: 32px;
	--spacing-article-container-width: 960px;
	--spacing-coll-gap-coll-6: 4px;
	--spacing-coll-gap-coll-4: 16px;
	--spacing-coll-gap-coll-3: 24px;
	--spacing-coll-gap-coll-2: 56px;
	--spacing-coll-padding-coll-2: 0px;
	--spacing-container-left-right-non: 0px;
	--spacing-container-left-right: 32px;
	--spacing-container-max-width: 1200px;
	--spacing-global-spacing-non: 0px;
	--spacing-global-spacing-xxs: 8px;
	--spacing-global-spacing-xs: 16px;
	--spacing-global-spacing-s: 24px;
	--spacing-global-spacing-l: 32px;
	--spacing-global-spacing-m: 32px;
	--spacing-global-spacing-xl: 32px;
	--spacing-global-spacing-xxl: 32px;
	--spacing-global-spacing-xxxl: 32px;
	--spacing-page-headline-h1-bottom: 16px;
	--spacing-page-headline-h2-bottom: 16px;
	--spacing-page-headline-h3-bottom: 16px;
	--spacing-separator-non: 0px;
	--spacing-separator-xs: 24px;
	--spacing-separator-s: 32px;
	--spacing-separator-l: 80px;
	--spacing-separator-m: 80px;
	--steps-title-top-bottom-padding: 4px;
	--steps-divider-left: 12px;
	--steps-coll: 16px;
	--steps-text-coll: 16px;
	--steps-item-bottom-padding: 24px;
	--steps-marker-top-bottom-padding: 8px;
	--steps-marker-width: 50px;
	--steps-title-only-item-paddings: 12px;
	--steps-title-only-gap-between-items: 16px;
	--table-cell-left-right-padding: 0px;
	--table-row-left-right-padding: 0px;
	--table-cell-top-bottom-padding: 16px;
	--table-row-gap: 32px;
	--theses-gap: 4px;
	--theses-top-bottom-padding: 12px;
	--theses-left-right-padding: 16px;
}

[data-windowsize="567-320"] {
	/* numbers */
	--accordion-content-left-right-padding: 0px;
	--accordion-content-top-padding: 8px;
	--accordion-content-bottom-padding: 16px;
	--accordion-head-left-right-padding: 0px;
	--accordion-head-top-bottom-padding: 16px;
	--accordion-head-min-height: 64px;
	--accordion-wrap-list-gap: 0px;
	--border-radius-accordeon-wrap: 0px;
	--border-radius-accordion-head: 0px;
	--border-radius-banner: 8px;
	--border-radius-drop-menu: 8px;
	--border-radius-step-marker: 12px;
	--border-radius-thesis: 30px;
	--border-radius-card-0: 0px;
	--border-radius-card-ic-wrap: 8px;
	--border-radius-card-m: 8px;
	--border-radius-image-0: 0px;
	--border-radius-image-m: 8px;
	--button-medium-btn-gap: 8px;
	--button-medium-top-bottom: 16px;
	--button-medium-left-right: 24px;
	--button-medium-btn-radius: 30px;
	--button-medium-btn-height: 52px;
	--button-medium-min-width: 150px;
	--button-small-btn-gap: 4px;
	--button-small-left-right: 12px;
	--button-small-top-bottom: 16px;
	--button-small-btn-radius: 30px;
	--button-small-btn-height: 42px;
	--button-small-min-width: 80px;
	--cards-coll-gap-m: 8px;
	--cards-coll-gap-s: 8px;
	--cards-coll-gap-l: 16px;
	--cards-coll-gap-2-coll-with-mini-text: 40px;
	--cards-grid-second-col-top-padding: 0px;
	--cards-grid-row-bottom-padding-l: 32px;
	--cards-grid-row-bottom-padding-m: 32px;
	--cards-item-price-padding: 4px;
	--cards-item-title-bottom-padding: 4px;
	--cards-item-text-padding: 8px;
	--cards-item-actions-padding: 16px;
	--cards-item-text-max-height: 100px;
	--cards-item-haight: 520px;
	--cards-item-visual-padding-s: 8px;
	--cards-item-visual-padding-m: 16px;
	--cards-item-wrap-padding-non: 0px;
	--cards-item-wrap-padding-s: 8px;
	--cards-item-wrap-padding-m: 12px;
	--cards-item-wrap-padding-bg-img-non: 0px;
	--cards-item-wrap-padding-bg-img-s: 16px;
	--cards-item-wrap-padding-bg-img-m: 24px;
	--checkbox-border-radius: 4px;
	--checkbox-haight: 20px;
	--checkbox-width: 20px;
	--form-container-in-popup: 480px;
	--form-container-in-block: 560px;
	--form-input-file-gap-gap-horisontal: 8px;
	--form-input-file-haight-placeholder-input: 80px;
	--form-input-file-padding-input-left-right: 16px;
	--form-input-file-radius-radius-input: 16px;
	--form-text-area-height-input: 100px;
	--form-text-field-outlined-gap-gap-horisontal: 4px;
	--form-text-field-outlined-haight-label: 21px;
	--form-text-field-outlined-haight-placeholder-input: 50px;
	--form-text-field-outlined-padding-helper-text-top: 2px;
	--form-text-field-outlined-padding-label-bottom: 2px;
	--form-text-field-outlined-padding-input-left-right: 12px;
	--form-text-field-outlined-padding-label-helper-left: var(--form-text-field-outlined-radius-radius-input);
	--form-text-field-outlined-padding-input-top-bottom: 14px;
	--form-text-field-outlined-radius-radius-input: 12px;
	--form-text-field-underlined-base-gap-gap-horisontal: 4px;
	--form-text-field-underlined-base-haight-label: 21px;
	--form-text-field-underlined-base-haight-placeholder-input: 40px;
	--form-text-field-underlined-base-icon-size-ic-haight: 18px;
	--form-text-field-underlined-base-icon-size-ic-width: 18px;
	--form-text-field-underlined-base-padding-helper-text-top: 2px;
	--form-text-field-underlined-base-padding-label-bottom: 2px;
	--form-text-field-underlined-base-padding-input-top-bottom: 12px;
	--hero-img-fix-width: 320px;
	--hero-img-min-hight: 460px;
	--hero-content-padding-bottom-l: 60px;
	--hero-content-padding-bottom-m: 60px;
	--hero-content-padding-bottom-s: 60px;
	--hero-content-padding-top-m: 0px;
	--hero-content-padding-top-s: 0px;
	--hero-content-padding-top-l: 120px;
	--img-banner-text-img-height: 220px;
	--spacing-actions-top-s: 8px;
	--spacing-actions-top-m: 24px;
	--spacing-actions-top-l: 32px;
	--spacing-article-container-width: 960px;
	--spacing-coll-gap-coll-6: 4px;
	--spacing-coll-gap-coll-3: 16px;
	--spacing-coll-gap-coll-4: 16px;
	--spacing-coll-gap-coll-2: 56px;
	--spacing-coll-padding-coll-2: 0px;
	--spacing-container-left-right-non: 0px;
	--spacing-container-left-right: 16px;
	--spacing-container-max-width: 1200px;
	--spacing-global-spacing-non: 0px;
	--spacing-global-spacing-xxs: 4px;
	--spacing-global-spacing-xs: 8px;
	--spacing-global-spacing-m: 16px;
	--spacing-global-spacing-s: 16px;
	--spacing-global-spacing-l: 24px;
	--spacing-global-spacing-xl: 32px;
	--spacing-global-spacing-xxl: 32px;
	--spacing-global-spacing-xxxl: 32px;
	--spacing-page-headline-h1-bottom: 16px;
	--spacing-page-headline-h2-bottom: 16px;
	--spacing-page-headline-h3-bottom: 16px;
	--spacing-separator-non: 0px;
	--spacing-separator-xs: 24px;
	--spacing-separator-s: 32px;
	--spacing-separator-l: 80px;
	--spacing-separator-m: 80px;
	--steps-title-top-bottom-padding: 4px;
	--steps-coll: 8px;
	--steps-divider-left: 12px;
	--steps-text-coll: 16px;
	--steps-item-bottom-padding: 24px;
	--steps-marker-top-bottom-padding: 8px;
	--steps-marker-width: 50px;
	--steps-title-only-item-paddings: 12px;
	--steps-title-only-gap-between-items: 16px;
	--table-cell-left-right-padding: 0px;
	--table-row-left-right-padding: 0px;
	--table-cell-top-bottom-padding: 16px;
	--table-row-gap: 24px;
	--theses-gap: 4px;
	--theses-top-bottom-padding: 12px;
	--theses-left-right-padding: 16px;
}