[data-mode="light"] {
	/* colors */
	--accordion-divider: var(--gray-opacity-20);
	--accordion-icon: var(--gray-opacity-40);
	--accordion-icon-hover: var(--gray-1);
	--accordion-title-text-hover: var(--gray-1);
	--accordion-content-bg-default: var(--white-opacity-100);
	--accordion-content-bg-primary: var(--brand-1-900);
	--accordion-content-bg-secondary: var(--brand-2-800);
	--accordion-content-bg-tone: var(--brand-1-100);
	--accordion-title-bg-default: var(--white-opacity-100);
	--accordion-title-bg-primary: var(--brand-1-900);
	--accordion-title-bg-secondary: var(--brand-2-800);
	--accordion-title-bg-tone: var(--brand-1-100);
	--accordion-title-bg-hover-default: var(--brand-1-300);
	--accordion-title-bg-hover-primary: var(--brand-1-300);
	--accordion-title-bg-hover-secondary: var(--brand-1-600);
	--accordion-title-bg-hover-tone: var(--brand-1-200);
	--bg-default: var(--white-opacity-100);
	--bg-primary: var(--brand-1-900);
	--bg-secondary: var(--brand-2-800);
	--bg-tone: var(--brand-1-100);
	--btn-on-dark-fill-opacity-bg-border-default: var(--white-opacity-12);
	--btn-on-dark-fill-opacity-bg-border-disabled: var(--white-opacity-12);
	--btn-on-dark-fill-opacity-bg-border-hover: var(--white-opacity-20);
	--btn-on-dark-fill-opacity-label-default: var(--white-opacity-100);
	--btn-on-dark-fill-opacity-label-disabled: var(--white-opacity-60);
	--btn-on-dark-fill-opacity-label-hover: var(--white-opacity-100);
	--btn-on-dark-fill-bg-default: var(--white-opacity-100);
	--btn-on-dark-fill-bg-disabled: var(--white-opacity-80);
	--btn-on-dark-fill-bg-hover: var(--white-opacity-80);
	--btn-on-dark-fill-label-default: var(--brand-1-1);
	--btn-on-dark-fill-label-disabled: var(--brand-1-400);
	--btn-on-dark-fill-label-hover: var(--brand-1-1);
	--btn-on-dark-link-label-default: var(--white-opacity-100);
	--btn-on-dark-link-label-disabled: var(--white-opacity-80);
	--btn-on-dark-link-label-hover: var(--white-opacity-100);
	--btn-on-dark-stroke-border-default: var(--white-opacity-100);
	--btn-on-dark-stroke-border-disabled: var(--white-opacity-60);
	--btn-on-dark-stroke-border-hover: var(--white-opacity-40);
	--btn-on-dark-stroke-label-default: var(--white-opacity-100);
	--btn-on-dark-stroke-label-disabled: var(--white-opacity-60);
	--btn-on-dark-stroke-label-hover: var(--white-opacity-100);
	--btn-on-dark-white-text-bg-default: var(--white-opacity-0);
	--btn-on-dark-white-text-bg-disabled: var(--white-opacity-0);
	--btn-on-dark-white-text-bg-hover: var(--white-opacity-20);
	--btn-on-dark-white-text-label-default: var(--white-opacity-100);
	--btn-on-dark-white-text-label-disabled: var(--white-opacity-60);
	--btn-on-dark-white-text-label-hover: var(--white-opacity-100);
	--btn-on-light-fill-opacity-bg-default: var(--gray-opacity-8);
	--btn-on-light-fill-opacity-bg-disabled: var(--gray-opacity-8);
	--btn-on-light-fill-opacity-bg-hover: var(--gray-opacity-12);
	--btn-on-light-fill-opacity-label-default: var(--gray-900);
	--btn-on-light-fill-opacity-label-disabled: var(--gray-opacity-20);
	--btn-on-light-fill-opacity-label-hover: var(--gray-900);
	--btn-on-light-fill-bg-default: var(--gray-1);
	--btn-on-light-fill-bg-disabled: var(--gray-400);
	--btn-on-light-fill-bg-hover: var(--gray-900);
	--btn-on-light-fill-label-default: var(--white-opacity-100);
	--btn-on-light-fill-label-disabled: var(--white-opacity-60);
	--btn-on-light-fill-label-hover: var(--white-opacity-100);
	--btn-on-light-link-label-default: var(--gray-900);
	--btn-on-light-link-label-disabled: var(--gray-opacity-40);
	--btn-on-light-link-label-hover: var(--gray-900);
	--btn-on-light-stroke-border-default: var(--gray-opacity-60);
	--btn-on-light-stroke-border-disabled: var(--gray-opacity-20);
	--btn-on-light-stroke-border-hover: var(--gray-opacity-80);
	--btn-on-light-stroke-label-default: var(--gray-900);
	--btn-on-light-stroke-label-disabled: var(--gray-300);
	--btn-on-light-stroke-label-hover: var(--gray-900);
	--btn-on-light-text-bg-default: var(--gray-opacity-0);
	--btn-on-light-text-bg-disabled: var(--gray-opacity-0);
	--btn-on-light-text-bg-hover: var(--gray-opacity-8);
	--btn-on-light-text-label-default: var(--gray-900);
	--btn-on-light-text-label-disabled: var(--gray-opacity-40);
	--btn-on-light-text-label-hover: var(--gray-900);
	--checkbox-border-disabled: var(--gray-opacity-8);
	--checkbox-border-enable: var(--gray-opacity-20);
	--checkbox-border-hover: var(--gray-opacity-40);
	--checkbox-fill-disabled: var(--gray-opacity-8);
	--checkbox-fill-disabled-selected: var(--brand-1-300);
	--checkbox-fill-hover-selected: var(--brand-1-900);
	--checkbox-fill-selected: var(--brand-1-700);
	--checkbox-icon-icon-fill: var(--white-opacity-100);
	--overlay-default: #00000033;
	--overlay-on-img: #00000000;
	--steps-marker-border: var(--gray-opacity-20);
	--table-divider: var(--gray-opacity-20);
	--text-field-underline-border-disabled: var(--gray-opacity-20);
	--text-field-underline-border-enabled: var(--gray-opacity-20);
	--text-field-underline-border-error: var(--system-red-500);
	--text-field-underline-border-error-focused: var(--system-red-700);
	--text-field-underline-border-error-hover: var(--system-red-600);
	--text-field-underline-border-filled: var(--gray-opacity-20);
	--text-field-underline-border-focused: var(--brand-1-700);
	--text-field-underline-border-hover: var(--gray-opacity-40);
	--text-field-underline-cursor-enabled: var(--gray-1);
	--text-field-underline-cursor-error: var(--system-red-700);
	--text-field-underline-helper-error-text-disabled: var(--gray-opacity-40);
	--text-field-underline-helper-error-text-enabled: var(--gray-opacity-60);
	--text-field-underline-helper-error-text-error: var(--system-red-700);
	--text-field-underline-icon-disabled: var(--gray-opacity-20);
	--text-field-underline-icon-enabled: var(--gray-opacity-60);
	--text-field-underline-icon-error: var(--system-red-600);
	--text-field-underline-icon-filled: var(--gray-opacity-60);
	--text-field-underline-icon-focused: var(--gray-opacity-60);
	--text-field-underline-input-text-disabled: var(--gray-opacity-60);
	--text-field-underline-input-text-error: var(--system-red-700);
	--text-field-underline-input-text-filled: var(--gray-opacity-80);
	--text-field-underline-input-text-focused: var(--gray-1);
	--text-field-underline-label-disabled: var(--gray-opacity-40);
	--text-field-underline-label-enabled: var(--gray-opacity-80);
	--text-field-underline-label-error: var(--system-red-600);
	--text-field-underline-label-filled: var(--gray-opacity-60);
	--text-field-underline-label-focused: var(--gray-opacity-60);
	--text-field-underline-placeholder-disabled: var(--gray-opacity-40);
	--text-field-underline-placeholder-enabled: var(--gray-opacity-40);
	--text-field-underline-placeholder-error: var(--gray-opacity-40);
	--text-on-bg-on-default-link: var(--brand-1-800);
	--text-on-bg-on-default-text-description: var(--gray-500);
	--text-on-bg-on-default-text-primary: var(--gray-1);
	--text-on-bg-on-default-text-secindary: var(--gray-600);
	--text-on-bg-on-img-link: var(--brand-3-300);
	--text-on-bg-on-img-text-description: var(--white-opacity-40);
	--text-on-bg-on-img-text-primary: var(--white-opacity-100);
	--text-on-bg-on-img-text-secindary: var(--white-opacity-60);
	--text-on-bg-on-primary-link: var(--brand-3-300);
	--text-on-bg-on-primary-text-description: var(--white-opacity-40);
	--text-on-bg-on-primary-text-primary: var(--white-opacity-90);
	--text-on-bg-on-primary-text-secindary: var(--white-opacity-60);
	--text-on-bg-on-secondary-link: var(--brand-3-300);
	--text-on-bg-on-secondary-text-description: var(--white-opacity-40);
	--text-on-bg-on-secondary-text-primary: var(--white-opacity-100);
	--text-on-bg-on-secondary-text-secondary: var(--white-opacity-60);
	--text-on-bg-on-tone-link: var(--brand-3-700);
	--text-on-bg-on-tone-text-description: var(--gray-400);
	--text-on-bg-on-tone-text-primary: var(--gray-1);
	--text-on-bg-on-tone-text-secindary: var(--gray-600);
	--theses-border-on-default: var(--gray-opacity-40);
	--theses-border-on-primary: var(--white-opacity-20);
	--theses-border-on-secondary: var(--white-opacity-20);
	--theses-border-on-tone: var(--gray-opacity-60);
	--theses-item-bg-default: var(--brand-1-100);
	--theses-item-bg-primary: var(--brand-1-600);
	--theses-item-bg-secondary: var(--brand-2-600);
	--theses-item-bg-tone: var(--white-opacity-30);
  }
  [data-mode="dark"] {
	/* colors */
	--accordion-divider: var(--white-opacity-20);
	--accordion-icon: var(--white-opacity-40);
	--accordion-icon-hover: var(--white-opacity-100);
	--accordion-title-text-hover: var(--white-opacity-100);
	--accordion-content-bg-default: var(--gray-1);
	--accordion-content-bg-primary: var(--brand-1-900);
	--accordion-content-bg-secondary: var(--brand-2-800);
	--accordion-content-bg-tone: var(--gray-700);
	--accordion-title-bg-default: var(--gray-1);
	--accordion-title-bg-primary: var(--brand-1-900);
	--accordion-title-bg-secondary: var(--brand-2-800);
	--accordion-title-bg-tone: var(--gray-700);
	--accordion-title-bg-hover-default: var(--brand-1-600);
	--accordion-title-bg-hover-primary: var(--brand-1-600);
	--accordion-title-bg-hover-secondary: var(--brand-1-600);
	--accordion-title-bg-hover-tone: var(--brand-1-600);
	--bg-default: var(--gray-1);
	--bg-primary: var(--brand-1-900);
	--bg-secondary: var(--brand-2-800);
	--bg-tone: var(--gray-700);
	--btn-on-dark-fill-opacity-bg-border-default: var(--white-opacity-12);
	--btn-on-dark-fill-opacity-bg-border-disabled: var(--white-opacity-12);
	--btn-on-dark-fill-opacity-bg-border-hover: var(--white-opacity-20);
	--btn-on-dark-fill-opacity-label-default: var(--white-opacity-100);
	--btn-on-dark-fill-opacity-label-disabled: var(--white-opacity-60);
	--btn-on-dark-fill-opacity-label-hover: var(--white-opacity-100);
	--btn-on-dark-fill-bg-default: var(--white-opacity-100);
	--btn-on-dark-fill-bg-disabled: var(--white-opacity-80);
	--btn-on-dark-fill-bg-hover: var(--white-opacity-80);
	--btn-on-dark-fill-label-default: var(--brand-1-1);
	--btn-on-dark-fill-label-disabled: var(--brand-1-400);
	--btn-on-dark-fill-label-hover: var(--brand-1-1);
	--btn-on-dark-link-label-default: var(--white-opacity-100);
	--btn-on-dark-link-label-disabled: var(--white-opacity-80);
	--btn-on-dark-link-label-hover: var(--white-opacity-100);
	--btn-on-dark-stroke-border-default: var(--white-opacity-100);
	--btn-on-dark-stroke-border-disabled: var(--white-opacity-60);
	--btn-on-dark-stroke-border-hover: var(--white-opacity-40);
	--btn-on-dark-stroke-label-default: var(--white-opacity-100);
	--btn-on-dark-stroke-label-disabled: var(--white-opacity-60);
	--btn-on-dark-stroke-label-hover: var(--white-opacity-100);
	--btn-on-dark-white-text-bg-default: var(--white-opacity-0);
	--btn-on-dark-white-text-bg-disabled: var(--white-opacity-0);
	--btn-on-dark-white-text-bg-hover: var(--white-opacity-20);
	--btn-on-dark-white-text-label-default: var(--white-opacity-100);
	--btn-on-dark-white-text-label-disabled: var(--white-opacity-60);
	--btn-on-dark-white-text-label-hover: var(--white-opacity-100);
	--btn-on-light-fill-opacity-bg-default: var(--white-opacity-12);
	--btn-on-light-fill-opacity-bg-disabled: var(--white-opacity-12);
	--btn-on-light-fill-opacity-bg-hover: var(--white-opacity-8);
	--btn-on-light-fill-opacity-label-default: var(--brand-1-200);
	--btn-on-light-fill-opacity-label-disabled: var(--brand-1-400);
	--btn-on-light-fill-opacity-label-hover: var(--brand-1-200);
	--btn-on-light-fill-bg-default: var(--gray-600);
	--btn-on-light-fill-bg-disabled: var(--gray-800);
	--btn-on-light-fill-bg-hover: var(--gray-500);
	--btn-on-light-fill-label-default: var(--gray-800);
	--btn-on-light-fill-label-disabled: var(--gray-500);
	--btn-on-light-fill-label-hover: var(--gray-1);
	--btn-on-light-link-label-default: var(--brand-1-200);
	--btn-on-light-link-label-disabled: var(--brand-1-400);
	--btn-on-light-link-label-hover: var(--brand-1-200);
	--btn-on-light-stroke-border-default: var(--white-opacity-60);
	--btn-on-light-stroke-border-disabled: var(--white-opacity-20);
	--btn-on-light-stroke-border-hover: var(--white-opacity-80);
	--btn-on-light-stroke-label-default: var(--brand-1-200);
	--btn-on-light-stroke-label-disabled: var(--brand-1-400);
	--btn-on-light-stroke-label-hover: var(--brand-1-200);
	--btn-on-light-text-bg-default: var(--white-opacity-0);
	--btn-on-light-text-bg-disabled: var(--white-opacity-0);
	--btn-on-light-text-bg-hover: var(--white-opacity-8);
	--btn-on-light-text-label-default: var(--brand-1-200);
	--btn-on-light-text-label-disabled: var(--brand-1-400);
	--btn-on-light-text-label-hover: var(--brand-1-200);
	--checkbox-border-disabled: var(--white-opacity-20);
	--checkbox-border-enable: var(--white-opacity-20);
	--checkbox-border-hover: var(--white-opacity-40);
	--checkbox-fill-disabled: var(--white-opacity-8);
	--checkbox-fill-disabled-selected: var(--brand-1-1);
	--checkbox-fill-hover-selected: var(--brand-1-400);
	--checkbox-fill-selected: var(--brand-1-300);
	--checkbox-icon-icon-fill: var(--white-opacity-100);
	--overlay-default: #00000099;
	--overlay-on-img: #000000cc;
	--steps-marker-border: var(--white-opacity-20);
	--table-divider: var(--white-opacity-20);
	--text-field-underline-border-disabled: var(--white-opacity-12);
	--text-field-underline-border-enabled: var(--white-opacity-20);
	--text-field-underline-border-error: var(--system-red-500);
	--text-field-underline-border-error-focused: var(--system-red-700);
	--text-field-underline-border-error-hover: var(--system-red-600);
	--text-field-underline-border-filled: var(--white-opacity-20);
	--text-field-underline-border-focused: var(--brand-1-300);
	--text-field-underline-border-hover: var(--white-opacity-40);
	--text-field-underline-cursor-enabled: var(--brand-1-400);
	--text-field-underline-cursor-error: var(--system-red-700);
	--text-field-underline-helper-error-text-disabled: var(--white-opacity-40);
	--text-field-underline-helper-error-text-enabled: var(--white-opacity-60);
	--text-field-underline-helper-error-text-error: var(--system-red-400);
	--text-field-underline-icon-disabled: var(--white-opacity-40);
	--text-field-underline-icon-enabled: var(--white-opacity-60);
	--text-field-underline-icon-error: var(--system-red-600);
	--text-field-underline-icon-filled: var(--white-opacity-60);
	--text-field-underline-icon-focused: var(--white-opacity-60);
	--text-field-underline-input-text-disabled: var(--white-opacity-40);
	--text-field-underline-input-text-error: var(--system-red-600);
	--text-field-underline-input-text-filled: var(--white-opacity-80);
	--text-field-underline-input-text-focused: var(--white-opacity-80);
	--text-field-underline-label-disabled: var(--white-opacity-40);
	--text-field-underline-label-enabled: var(--white-opacity-60);
	--text-field-underline-label-error: var(--system-red-500);
	--text-field-underline-label-filled: var(--white-opacity-40);
	--text-field-underline-label-focused: var(--white-opacity-40);
	--text-field-underline-placeholder-disabled: var(--white-opacity-40);
	--text-field-underline-placeholder-enabled: var(--white-opacity-40);
	--text-field-underline-placeholder-error: var(--white-opacity-40);
	--text-on-bg-on-default-link: var(--brand-1-400);
	--text-on-bg-on-default-text-description: var(--white-opacity-30);
	--text-on-bg-on-default-text-primary: var(--white-opacity-60);
	--text-on-bg-on-default-text-secindary: var(--white-opacity-40);
	--text-on-bg-on-img-link: var(--brand-3-300);
	--text-on-bg-on-img-text-description: var(--white-opacity-20);
	--text-on-bg-on-img-text-primary: var(--white-opacity-80);
	--text-on-bg-on-img-text-secindary: var(--white-opacity-60);
	--text-on-bg-on-primary-link: var(--brand-3-300);
	--text-on-bg-on-primary-text-description: var(--white-opacity-40);
	--text-on-bg-on-primary-text-primary: var(--white-opacity-90);
	--text-on-bg-on-primary-text-secindary: var(--white-opacity-60);
	--text-on-bg-on-secondary-link: var(--brand-3-300);
	--text-on-bg-on-secondary-text-description: var(--white-opacity-40);
	--text-on-bg-on-secondary-text-primary: var(--white-opacity-80);
	--text-on-bg-on-secondary-text-secondary: var(--white-opacity-60);
	--text-on-bg-on-tone-link: var(--brand-3-300);
	--text-on-bg-on-tone-text-description: var(--white-opacity-30);
	--text-on-bg-on-tone-text-primary: var(--white-opacity-60);
	--text-on-bg-on-tone-text-secindary: var(--white-opacity-40);
	--theses-border-on-default: var(--white-opacity-20);
	--theses-border-on-primary: var(--white-opacity-20);
	--theses-border-on-secondary: var(--white-opacity-20);
	--theses-border-on-tone: var(--white-opacity-20);
	--theses-item-bg-default: var(--gray-800);
	--theses-item-bg-primary: var(--brand-1-600);
	--theses-item-bg-secondary: var(--brand-2-600);
	--theses-item-bg-tone: var(--gray-500);
  }