[data-mode="light"] {
	/* colors */
	--accordion-on-dark-bg-default: var(--white-opacity-0);
	--accordion-on-dark-bg-hover: var(--white-opacity-0);
	--accordion-on-dark-divider-default: var(--white-opacity-20);
	--accordion-on-dark-divider-hover: var(--white-opacity-20);
	--accordion-on-dark-icon-default: var(--white-opacity-80);
	--accordion-on-dark-icon-hover: var(--brand-1-500);
	--accordion-on-dark-title-default: var(--white-opacity-90);
	--accordion-on-dark-title-hover: var(--brand-1-500);
	--accordion-on-dark-wrap-border: var(--white-opacity-0);
	--accordion-on-light-bg-default: var(--gray-opacity-0);
	--accordion-on-light-bg-hover: var(--gray-opacity-0);
	--accordion-on-light-divider-default: var(--brand-1-200);
	--accordion-on-light-divider-hover: var(--brand-1-200);
	--accordion-on-light-icon-default: var(--gray-500);
	--accordion-on-light-icon-hover: var(--brand-1-700);
	--accordion-on-light-title-default: var(--gray-1);
	--accordion-on-light-title-hover: var(--brand-1-700);
	--accordion-on-light-wrap-border: var(--gray-opacity-0);
	--bg-on-dark-darker: var(--gray-700);
	--bg-on-dark-lighter: var(--brand-1-700);
	--bg-on-light-darker: var(--gray-50);
	--bg-on-light-lighter: var(--white-opacity-100);
	--border-on-dark-bg-darker-high: var(--white-opacity-30);
	--border-on-dark-bg-darker-medium: var(--white-opacity-20);
	--border-on-dark-bg-darker-primary: var(--brand-1-500);
	--border-on-dark-bg-darker-tertiary: var(--white-opacity-12);
	--border-on-dark-bg-img-high: var(--white-opacity-100);
	--border-on-dark-bg-img-medium: var(--white-opacity-60);
	--border-on-dark-bg-img-primary: var(--brand-1-600);
	--border-on-dark-bg-img-tertiary: var(--white-opacity-40);
	--border-on-dark-bg-lighter-high: var(--white-opacity-30);
	--border-on-dark-bg-lighter-medium: var(--white-opacity-20);
	--border-on-dark-bg-lighter-primary: var(--white-opacity-100);
	--border-on-dark-bg-lighter-tertiary: var(--white-opacity-12);
	--border-on-light-bg-darker-high: var(--brand-1-400);
	--border-on-light-bg-darker-medium: var(--brand-1-300);
	--border-on-light-bg-darker-primary: var(--brand-1-700);
	--border-on-light-bg-darker-tertiary: var(--brand-1-200);
	--border-on-light-bg-lighter-high: var(--brand-1-300);
	--border-on-light-bg-lighter-medium: var(--brand-1-200);
	--border-on-light-bg-lighter-primary: var(--brand-1-700);
	--border-on-light-bg-lighter-tertiary: var(--brand-1-100);
	--border-on-surface-primary-default: var(--white-opacity-30);
	--border-on-surface-primary-hover: var(--white-opacity-20);
	--border-on-surface-primary-tertiary: var(--white-opacity-12);
	--border-on-surface-secondary-default: var(--white-opacity-30);
	--border-on-surface-secondary-hover: var(--white-opacity-20);
	--border-on-surface-secondary-tertiary: var(--white-opacity-12);
	--btn-input-on-dark-bg-current: var(--gray-700);
	--btn-input-on-dark-bg-default: var(--gray-opacity-0);
	--btn-input-on-dark-bg-hover: var(--gray-opacity-0);
	--btn-input-on-dark-border-2-current: var(--brand-1-500);
	--btn-input-on-dark-border-2-default: var(--white-opacity-20);
	--btn-input-on-dark-border-2-hover: var(--white-opacity-30);
	--btn-input-on-dark-ic-current: var(--brand-1-500);
	--btn-input-on-dark-ic-default: var(--white-opacity-100);
	--btn-input-on-dark-ic-hover: var(--brand-1-500);
	--btn-input-on-dark-label-current: var(--brand-1-500);
	--btn-input-on-dark-label-default: var(--white-opacity-100);
	--btn-input-on-dark-label-hover: var(--brand-1-500);
	--btn-input-on-light-border-current: var(--brand-1-700);
	--btn-input-on-light-border-default: var(--brand-1-200);
	--btn-input-on-light-border-hover: var(--brand-1-300);
	--btn-input-on-light-ic-current: var(--brand-1-600);
	--btn-input-on-light-ic-default: var(--gray-500);
	--btn-input-on-light-ic-hover: var(--brand-1-700);
	--btn-input-on-light-label-current: var(--brand-1-700);
	--btn-input-on-light-label-default: var(--gray-1);
	--btn-input-on-light-label-hover: var(--brand-1-700);
	--btn-primary-on-dark-fill-opacity-bg-border-default: var(--white-opacity-12);
	--btn-primary-on-dark-fill-opacity-bg-border-disabled: var(--white-opacity-12);
	--btn-primary-on-dark-fill-opacity-bg-border-hover: var(--white-opacity-8);
	--btn-primary-on-dark-fill-opacity-label-default: var(--brand-1-500);
	--btn-primary-on-dark-fill-opacity-label-disabled: var(--white-opacity-40);
	--btn-primary-on-dark-fill-opacity-label-hover: var(--brand-1-500);
	--btn-primary-on-dark-fill-bg-default: var(--brand-1-600);
	--btn-primary-on-dark-fill-bg-disabled: var(--gray-500);
	--btn-primary-on-dark-fill-bg-hover: var(--brand-1-700);
	--btn-primary-on-dark-fill-label-default: var(--white-opacity-100);
	--btn-primary-on-dark-fill-label-disabled: var(--white-opacity-90);
	--btn-primary-on-dark-fill-label-hover: var(--white-opacity-100);
	--btn-primary-on-dark-link-label-default: var(--brand-1-500);
	--btn-primary-on-dark-link-label-disabled: var(--white-opacity-40);
	--btn-primary-on-dark-link-label-hover: var(--brand-1-500);
	--btn-primary-on-dark-stroke-border-default: var(--brand-1-600);
	--btn-primary-on-dark-stroke-border-disabled: var(--gray-500);
	--btn-primary-on-dark-stroke-border-hover: var(--brand-1-700);
	--btn-primary-on-dark-stroke-label-default: var(--brand-1-500);
	--btn-primary-on-dark-stroke-label-disabled: var(--white-opacity-40);
	--btn-primary-on-dark-stroke-label-hover: var(--brand-1-500);
	--btn-primary-on-dark-text-bg-default: var(--white-opacity-0);
	--btn-primary-on-dark-text-bg-disabled: var(--white-opacity-0);
	--btn-primary-on-dark-text-bg-hover: var(--white-opacity-8);
	--btn-primary-on-dark-text-label-default: var(--brand-1-500);
	--btn-primary-on-dark-text-label-disabled: var(--white-opacity-40);
	--btn-primary-on-dark-text-label-hover: var(--brand-1-500);
	--btn-primary-on-light-fill-opacity-bg-default: var(--brand-1-50);
	--btn-primary-on-light-fill-opacity-bg-disabled: var(--gray-opacity-8);
	--btn-primary-on-light-fill-opacity-bg-hover: var(--brand-1-100);
	--btn-primary-on-light-fill-opacity-label-default: var(--brand-1-700);
	--btn-primary-on-light-fill-opacity-label-disabled: var(--gray-400);
	--btn-primary-on-light-fill-opacity-label-hover: var(--brand-1-700);
	--btn-primary-on-light-fill-bg-default: var(--brand-1-600);
	--btn-primary-on-light-fill-bg-disabled: var(--gray-400);
	--btn-primary-on-light-fill-bg-hover: var(--brand-1-700);
	--btn-primary-on-light-fill-label-default: var(--white-opacity-100);
	--btn-primary-on-light-fill-label-disabled: var(--white-opacity-90);
	--btn-primary-on-light-fill-label-hover: var(--white-opacity-100);
	--btn-primary-on-light-link-label-default: var(--brand-1-700);
	--btn-primary-on-light-link-label-disabled: var(--gray-500);
	--btn-primary-on-light-link-label-hover: var(--brand-1-700);
	--btn-primary-on-light-stroke-border-default: var(--brand-1-600);
	--btn-primary-on-light-stroke-border-disabled: var(--gray-400);
	--btn-primary-on-light-stroke-border-hover: var(--brand-1-700);
	--btn-primary-on-light-stroke-label-default: var(--brand-1-700);
	--btn-primary-on-light-stroke-label-disabled: var(--gray-500);
	--btn-primary-on-light-stroke-label-hover: var(--brand-1-700);
	--btn-primary-on-light-text-bg-default: var(--gray-opacity-0);
	--btn-primary-on-light-text-bg-disabled: var(--gray-opacity-0);
	--btn-primary-on-light-text-bg-hover: var(--brand-1-100);
	--btn-primary-on-light-text-label-default: var(--brand-1-700);
	--btn-primary-on-light-text-label-disabled: var(--gray-500);
	--btn-primary-on-light-text-label-hover: var(--brand-1-700);
	--btn-secondary-on-dark-fill-opacity-bg-border-default: var(--white-opacity-12);
	--btn-secondary-on-dark-fill-opacity-bg-border-disabled: var(--white-opacity-12);
	--btn-secondary-on-dark-fill-opacity-bg-border-hover: var(--white-opacity-20);
	--btn-secondary-on-dark-fill-opacity-label-default: var(--white-opacity-90);
	--btn-secondary-on-dark-fill-opacity-label-disabled: var(--white-opacity-40);
	--btn-secondary-on-dark-fill-opacity-label-hover: var(--white-opacity-90);
	--btn-secondary-on-dark-fill-bg-default: var(--white-opacity-100);
	--btn-secondary-on-dark-fill-bg-disabled: var(--white-opacity-80);
	--btn-secondary-on-dark-fill-bg-hover: var(--white-opacity-80);
	--btn-secondary-on-dark-fill-label-default: var(--gray-1);
	--btn-secondary-on-dark-fill-label-disabled: var(--gray-500);
	--btn-secondary-on-dark-fill-label-hover: var(--gray-1);
	--btn-secondary-on-dark-link-label-default: var(--white-opacity-90);
	--btn-secondary-on-dark-link-label-disabled: var(--white-opacity-40);
	--btn-secondary-on-dark-link-label-hover: var(--white-opacity-90);
	--btn-secondary-on-dark-stroke-border-default: var(--white-opacity-100);
	--btn-secondary-on-dark-stroke-border-disabled: var(--white-opacity-60);
	--btn-secondary-on-dark-stroke-border-hover: var(--white-opacity-40);
	--btn-secondary-on-dark-stroke-label-default: var(--white-opacity-90);
	--btn-secondary-on-dark-stroke-label-disabled: var(--white-opacity-40);
	--btn-secondary-on-dark-stroke-label-hover: var(--white-opacity-90);
	--btn-secondary-on-dark-text-bg-default: var(--white-opacity-0);
	--btn-secondary-on-dark-text-bg-disabled: var(--white-opacity-0);
	--btn-secondary-on-dark-text-bg-hover: var(--white-opacity-8);
	--btn-secondary-on-dark-text-label-default: var(--white-opacity-90);
	--btn-secondary-on-dark-text-label-disabled: var(--white-opacity-40);
	--btn-secondary-on-dark-text-label-hover: var(--white-opacity-90);
	--btn-secondary-on-light-fill-opacity-bg-default: var(--gray-opacity-8);
	--btn-secondary-on-light-fill-opacity-bg-disabled: var(--gray-opacity-8);
	--btn-secondary-on-light-fill-opacity-bg-hover: var(--gray-opacity-12);
	--btn-secondary-on-light-fill-opacity-label-default: var(--gray-1);
	--btn-secondary-on-light-fill-opacity-label-disabled: var(--gray-400);
	--btn-secondary-on-light-fill-opacity-label-hover: var(--gray-1);
	--btn-secondary-on-light-fill-bg-default: var(--gray-1);
	--btn-secondary-on-light-fill-bg-disabled: var(--gray-400);
	--btn-secondary-on-light-fill-bg-hover: var(--gray-800);
	--btn-secondary-on-light-fill-label-default: var(--white-opacity-100);
	--btn-secondary-on-light-fill-label-disabled: var(--white-opacity-90);
	--btn-secondary-on-light-fill-label-hover: var(--white-opacity-100);
	--btn-secondary-on-light-link-label-default: var(--gray-1);
	--btn-secondary-on-light-link-label-disabled: var(--gray-500);
	--btn-secondary-on-light-link-label-hover: var(--gray-1);
	--btn-secondary-on-light-stroke-border-default: var(--gray-1);
	--btn-secondary-on-light-stroke-border-disabled: var(--gray-400);
	--btn-secondary-on-light-stroke-border-hover: var(--gray-800);
	--btn-secondary-on-light-stroke-label-default: var(--gray-1);
	--btn-secondary-on-light-stroke-label-disabled: var(--gray-500);
	--btn-secondary-on-light-stroke-label-hover: var(--gray-1);
	--btn-secondary-on-light-text-bg-default: var(--gray-opacity-0);
	--btn-secondary-on-light-text-bg-disabled: var(--gray-opacity-0);
	--btn-secondary-on-light-text-bg-hover: var(--gray-opacity-8);
	--btn-secondary-on-light-text-label-default: var(--gray-1);
	--btn-secondary-on-light-text-label-disabled: var(--gray-1);
	--btn-secondary-on-light-text-label-hover: var(--gray-1);
	--card-on-dark-bg-darker-bg-default: var(--white-opacity-12);
	--card-on-dark-bg-darker-bg-hover: var(--white-opacity-8);
	--card-on-dark-bg-darker-border-default: var(--white-opacity-12);
	--card-on-dark-bg-darker-border-hover: var(--white-opacity-20);
	--card-on-dark-bg-darker-ic-wrap: var(--white-opacity-100);
	--card-on-dark-bg-darker-icon-default: var(--brand-1-500);
	--card-on-dark-bg-darker-icon-hover: var(--brand-1-500);
	--card-on-dark-bg-darker-numbers: var(--brand-1-600);
	--card-on-dark-bg-darker-price: var(--brand-1-500);
	--card-on-dark-bg-darker-title-default: var(--white-opacity-100);
	--card-on-dark-bg-darker-title-hover: var(--brand-1-500);
	--card-on-dark-bg-lighter-bg-default: var(--white-opacity-20);
	--card-on-dark-bg-lighter-bg-hover: var(--white-opacity-8);
	--card-on-dark-bg-lighter-border-default: var(--white-opacity-12);
	--card-on-dark-bg-lighter-border-hover: var(--white-opacity-20);
	--card-on-dark-bg-lighter-ic-wrap: var(--white-opacity-100);
	--card-on-dark-bg-lighter-icon-default: var(--white-opacity-100);
	--card-on-dark-bg-lighter-icon-hover: var(--white-opacity-100);
	--card-on-dark-bg-lighter-numbers: var(--white-opacity-100);
	--card-on-dark-bg-lighter-price: var(--white-opacity-100);
	--card-on-dark-bg-lighter-title-default: var(--white-opacity-100);
	--card-on-dark-bg-lighter-title-hover: var(--white-opacity-100);
	--card-on-light-bg-darker-bg-default: var(--white-opacity-100);
	--card-on-light-bg-darker-bg-hover: var(--gray-50);
	--card-on-light-bg-darker-border-default: var(--brand-1-200);
	--card-on-light-bg-darker-border-hover: var(--brand-1-300);
	--card-on-light-bg-darker-ic-wrap: var(--white-opacity-100);
	--card-on-light-bg-darker-icon-default: var(--brand-1-700);
	--card-on-light-bg-darker-icon-hover: var(--brand-1-700);
	--card-on-light-bg-darker-numbers: var(--brand-1-700);
	--card-on-light-bg-darker-price: var(--brand-1-700);
	--card-on-light-bg-darker-title-default: var(--gray-1);
	--card-on-light-bg-darker-title-hover: var(--brand-1-700);
	--card-on-light-bg-lighter-bg-default: var(--gray-50);
	--card-on-light-bg-lighter-bg-hover: var(--gray-100);
	--card-on-light-bg-lighter-border-default: var(--brand-1-200);
	--card-on-light-bg-lighter-border-hover: var(--brand-1-300);
	--card-on-light-bg-lighter-ic-wrap: var(--gray-50);
	--card-on-light-bg-lighter-icon-default: var(--brand-1-700);
	--card-on-light-bg-lighter-icon-hover: var(--brand-1-700);
	--card-on-light-bg-lighter-numbers: var(--brand-1-700);
	--card-on-light-bg-lighter-price: var(--brand-1-700);
	--card-on-light-bg-lighter-title-default: var(--gray-1);
	--card-on-light-bg-lighter-title-hover: var(--brand-1-700);
	--checkbox-border-disabled: var(--gray-opacity-8);
	--checkbox-border-enable: var(--brand-1-200);
	--checkbox-border-hover: var(--brand-1-300);
	--checkbox-fill-disabled: var(--gray-opacity-8);
	--checkbox-fill-disabled-selected: var(--gray-400);
	--checkbox-fill-hover-selected: var(--brand-1-700);
	--checkbox-fill-selected: var(--brand-1-600);
	--checkbox-icon-icon-fill: var(--white-opacity-100);
	--footer-subtitle: var(--gray-1);
	--footer-nav-item-ic-default: var(--gray-400);
	--footer-nav-item-ic-hover: var(--gray-600);
	--footer-nav-item-label-default: var(--gray-1);
	--footer-nav-item-label-hover: var(--gray-600);
	--header-items-on-dark-ic-current: var(--brand-1-500);
	--header-items-on-dark-ic-default: var(--brand-1-500);
	--header-items-on-dark-ic-hover: var(--brand-1-500);
	--header-items-on-dark-ic-wrap-bg-default: var(--white-opacity-0);
	--header-items-on-dark-ic-wrap-bg-hover: var(--white-opacity-0);
	--header-items-on-dark-ic-wrap-border-default: var(--white-opacity-20);
	--header-items-on-dark-ic-wrap-border-hover: var(--white-opacity-30);
	--header-items-on-dark-main-nav-label-current: var(--brand-1-500);
	--header-items-on-dark-main-nav-label-default: var(--white-opacity-100);
	--header-items-on-dark-main-nav-label-hover: var(--brand-1-500);
	--header-items-on-dark-top-nav-label-current: var(--brand-1-600);
	--header-items-on-dark-top-nav-label-default: var(--white-opacity-100);
	--header-items-on-dark-top-nav-label-hover: var(--white-opacity-60);
	--header-items-on-light-ic-current: var(--brand-1-600);
	--header-items-on-light-ic-default: var(--brand-1-600);
	--header-items-on-light-ic-hover: var(--brand-1-700);
	--header-items-on-light-ic-wrap-bg-default: var(--gray-opacity-0);
	--header-items-on-light-ic-wrap-bg-hover: var(--gray-opacity-0);
	--header-items-on-light-ic-wrap-border-default: var(--brand-1-200);
	--header-items-on-light-ic-wrap-border-hover: var(--brand-1-300);
	--header-items-on-light-main-nav-label-current: var(--brand-1-700);
	--header-items-on-light-main-nav-label-default: var(--gray-1);
	--header-items-on-light-main-nav-label-hover: var(--brand-1-700);
	--header-items-on-light-top-nav-label-current: var(--brand-1-700);
	--header-items-on-light-top-nav-label-default: var(--gray-1);
	--header-items-on-light-top-nav-label-hover: var(--gray-600);
	--overlay-default: #00000066;
	--overlay-on-img: #00000000;
	--pagination-on-dark-border-current: var(--brand-1-500);
	--pagination-on-dark-border-default: var(--white-opacity-0);
	--pagination-on-dark-border-disabled: var(--white-opacity-0);
	--pagination-on-dark-border-hover: var(--white-opacity-0);
	--pagination-on-dark-label-current: var(--brand-1-500);
	--pagination-on-dark-label-default: var(--white-opacity-100);
	--pagination-on-dark-label-disabled: var(--white-opacity-40);
	--pagination-on-dark-label-hover: var(--brand-1-500);
	--pagination-on-light-border-current: var(--brand-1-300);
	--pagination-on-light-border-default: var(--gray-opacity-0);
	--pagination-on-light-border-disabled: var(--gray-opacity-0);
	--pagination-on-light-border-hover: var(--gray-opacity-0);
	--pagination-on-light-label-current: var(--brand-1-700);
	--pagination-on-light-label-default: var(--gray-1);
	--pagination-on-light-label-disabled: var(--gray-500);
	--pagination-on-light-label-hover: var(--brand-1-700);
	--sidebar-on-dark-ic-current: var(--brand-1-500);
	--sidebar-on-dark-ic-default: var(--white-opacity-100);
	--sidebar-on-dark-ic-hover: var(--brand-1-500);
	--sidebar-on-dark-label-current: var(--brand-1-500);
	--sidebar-on-dark-label-default: var(--white-opacity-100);
	--sidebar-on-dark-label-hover: var(--brand-1-500);
	--sidebar-on-light-ic-current: var(--brand-1-600);
	--sidebar-on-light-ic-default: var(--gray-500);
	--sidebar-on-light-ic-hover: var(--brand-1-700);
	--sidebar-on-light-label-current: var(--brand-1-700);
	--sidebar-on-light-label-default: var(--gray-1);
	--sidebar-on-light-label-hover: var(--brand-1-700);
	--steps-marker-border: var(--gray-opacity-20);
	--surface-primary-default: var(--brand-1-600);
	--surface-primary-disable: var(--gray-400);
	--surface-primary-hover: var(--brand-1-700);
	--surface-primary-light-default: var(--brand-1-600);
	--surface-primary-light-disable: var(--gray-500);
	--surface-primary-light-hover: var(--brand-1-700);
	--surface-secondary-default: var(--gray-1);
	--surface-secondary-disabled: var(--gray-400);
	--surface-secondary-hover: var(--gray-800);
	--table-divider: var(--gray-opacity-20);
	--text-field-underline-border-disabled: var(--gray-opacity-20);
	--text-field-underline-border-enabled: var(--gray-opacity-20);
	--text-field-underline-border-error: var(--system-red-500);
	--text-field-underline-border-error-focused: var(--system-red-700);
	--text-field-underline-border-error-hover: var(--system-red-600);
	--text-field-underline-border-filled: var(--gray-opacity-20);
	--text-field-underline-border-focused: var(--brand-1-600);
	--text-field-underline-border-hover: var(--gray-opacity-40);
	--text-field-underline-cursor-enabled: var(--gray-1);
	--text-field-underline-cursor-error: var(--system-red-700);
	--text-field-underline-helper-error-text-disabled: var(--gray-opacity-40);
	--text-field-underline-helper-error-text-enabled: var(--gray-opacity-60);
	--text-field-underline-helper-error-text-error: var(--system-red-700);
	--text-field-underline-icon-disabled: var(--gray-opacity-20);
	--text-field-underline-icon-enabled: var(--gray-opacity-60);
	--text-field-underline-icon-error: var(--system-red-600);
	--text-field-underline-icon-filled: var(--gray-opacity-60);
	--text-field-underline-icon-focused: var(--gray-opacity-60);
	--text-field-underline-input-text-disabled: var(--gray-opacity-60);
	--text-field-underline-input-text-error: var(--system-red-700);
	--text-field-underline-input-text-filled: var(--gray-1);
	--text-field-underline-input-text-focused: var(--gray-1);
	--text-field-underline-label-disabled: var(--gray-opacity-40);
	--text-field-underline-label-enabled: var(--gray-1);
	--text-field-underline-label-error: var(--system-red-600);
	--text-field-underline-label-filled: var(--gray-600);
	--text-field-underline-label-focused: var(--gray-1);
	--text-field-underline-placeholder-disabled: var(--gray-opacity-40);
	--text-field-underline-placeholder-enabled: var(--gray-opacity-40);
	--text-field-underline-placeholder-error: var(--gray-opacity-40);
	--text-on-dark-bg-darker-high: var(--white-opacity-90);
	--text-on-dark-bg-darker-link: var(--brand-1-600);
	--text-on-dark-bg-darker-medium: var(--white-opacity-80);
	--text-on-dark-bg-darker-primary: var(--brand-1-500);
	--text-on-dark-bg-darker-tertiary: var(--white-opacity-40);
	--text-on-dark-bg-img-high: var(--white-opacity-100);
	--text-on-dark-bg-img-link: var(--brand-1-600);
	--text-on-dark-bg-img-medium: var(--white-opacity-60);
	--text-on-dark-bg-img-primary: var(--brand-1-600);
	--text-on-dark-bg-img-tertiary: var(--white-opacity-40);
	--text-on-dark-bg-lighter-high: var(--white-opacity-100);
	--text-on-dark-bg-lighter-link: var(--white-opacity-90);
	--text-on-dark-bg-lighter-medium: var(--white-opacity-80);
	--text-on-dark-bg-lighter-primary: var(--white-opacity-100);
	--text-on-dark-bg-lighter-tertiary: var(--white-opacity-80);
	--text-on-light-bg-darker-high: var(--gray-1);
	--text-on-light-bg-darker-link: var(--brand-1-700);
	--text-on-light-bg-darker-medium: var(--gray-600);
	--text-on-light-bg-darker-primary: var(--brand-1-700);
	--text-on-light-bg-darker-tertiary: var(--gray-400);
	--text-on-light-bg-lighter-high: var(--gray-1);
	--text-on-light-bg-lighter-link: var(--brand-1-700);
	--text-on-light-bg-lighter-medium: var(--gray-600);
	--text-on-light-bg-lighter-primary: var(--brand-1-700);
	--text-on-light-bg-lighter-tertiary: var(--gray-500);
	--text-on-surface-primary-default: var(--white-opacity-100);
	--text-on-surface-primary-disable: var(--white-opacity-90);
	--text-on-surface-primary-hover: var(--white-opacity-100);
	--text-on-surface-secondary-default: var(--white-opacity-100);
	--text-on-surface-secondary-disable: var(--white-opacity-90);
	--text-on-surface-secondary-hover: var(--white-opacity-100);
	--theses-color: #ffffff;
	--theses-border-on-default: var(--gray-opacity-20);
	--theses-border-on-primary: var(--white-opacity-20);
	--theses-border-on-secondary: var(--white-opacity-20);
	--theses-border-on-tone: var(--gray-opacity-20);
	--theses-item-bg-default: var(--brand-1-100);
	--theses-item-bg-primary: var(--brand-1-600);
	--theses-item-bg-secondary: var(--brand-2-600);
	--theses-item-bg-tone: var(--white-opacity-30);
  }
  [data-mode="dark"] {
	/* colors */
	--accordion-on-dark-bg-default: var(--white-opacity-0);
	--accordion-on-dark-bg-hover: var(--white-opacity-0);
	--accordion-on-dark-divider-default: var(--white-opacity-20);
	--accordion-on-dark-divider-hover: var(--white-opacity-20);
	--accordion-on-dark-icon-default: var(--white-opacity-80);
	--accordion-on-dark-icon-hover: var(--brand-1-500);
	--accordion-on-dark-title-default: var(--white-opacity-90);
	--accordion-on-dark-title-hover: var(--brand-1-500);
	--accordion-on-dark-wrap-border: var(--white-opacity-0);
	--accordion-on-light-bg-default: var(--white-opacity-0);
	--accordion-on-light-bg-hover: var(--white-opacity-0);
	--accordion-on-light-divider-default: var(--brand-1-200);
	--accordion-on-light-divider-hover: var(--brand-1-200);
	--accordion-on-light-icon-default: var(--gray-500);
	--accordion-on-light-icon-hover: var(--brand-1-700);
	--accordion-on-light-title-default: var(--gray-1);
	--accordion-on-light-title-hover: var(--brand-1-700);
	--accordion-on-light-wrap-border: var(--white-opacity-0);
	--bg-on-dark-darker: var(--gray-900);
	--bg-on-dark-lighter: var(--brand-1-900);
	--bg-on-light-darker: var(--gray-800);
	--bg-on-light-lighter: var(--gray-700);
	--border-on-dark-bg-darker-high: var(--white-opacity-30);
	--border-on-dark-bg-darker-medium: var(--white-opacity-20);
	--border-on-dark-bg-darker-primary: var(--brand-1-600);
	--border-on-dark-bg-darker-tertiary: var(--white-opacity-12);
	--border-on-dark-bg-img-high: var(--white-opacity-80);
	--border-on-dark-bg-img-medium: var(--white-opacity-60);
	--border-on-dark-bg-img-primary: var(--brand-1-600);
	--border-on-dark-bg-img-tertiary: var(--white-opacity-20);
	--border-on-dark-bg-lighter-high: var(--white-opacity-30);
	--border-on-dark-bg-lighter-medium: var(--white-opacity-20);
	--border-on-dark-bg-lighter-primary: var(--white-opacity-100);
	--border-on-dark-bg-lighter-tertiary: var(--white-opacity-12);
	--border-on-light-bg-darker-high: var(--white-opacity-40);
	--border-on-light-bg-darker-medium: var(--white-opacity-30);
	--border-on-light-bg-darker-primary: var(--brand-1-600);
	--border-on-light-bg-darker-tertiary: var(--white-opacity-20);
	--border-on-light-bg-lighter-high: var(--white-opacity-40);
	--border-on-light-bg-lighter-medium: var(--white-opacity-30);
	--border-on-light-bg-lighter-primary: var(--brand-1-600);
	--border-on-light-bg-lighter-tertiary: var(--white-opacity-20);
	--border-on-surface-primary-default: var(--white-opacity-30);
	--border-on-surface-primary-hover: var(--white-opacity-20);
	--border-on-surface-primary-tertiary: var(--white-opacity-12);
	--border-on-surface-secondary-default: var(--white-opacity-30);
	--border-on-surface-secondary-hover: var(--white-opacity-20);
	--border-on-surface-secondary-tertiary: var(--white-opacity-12);
	--btn-input-on-dark-bg-current: var(--gray-700);
	--btn-input-on-dark-bg-default: var(--gray-opacity-0);
	--btn-input-on-dark-bg-hover: var(--gray-opacity-0);
	--btn-input-on-dark-border-2-current: var(--brand-1-500);
	--btn-input-on-dark-border-2-default: var(--white-opacity-20);
	--btn-input-on-dark-border-2-hover: var(--white-opacity-30);
	--btn-input-on-dark-ic-current: var(--brand-1-500);
	--btn-input-on-dark-ic-default: var(--white-opacity-100);
	--btn-input-on-dark-ic-hover: var(--brand-1-500);
	--btn-input-on-dark-label-current: var(--brand-1-500);
	--btn-input-on-dark-label-default: var(--white-opacity-90);
	--btn-input-on-dark-label-hover: var(--brand-1-500);
	--btn-input-on-light-border-current: var(--brand-1-700);
	--btn-input-on-light-border-default: var(--brand-1-200);
	--btn-input-on-light-border-hover: var(--brand-1-300);
	--btn-input-on-light-ic-current: var(--brand-1-600);
	--btn-input-on-light-ic-default: var(--brand-1-600);
	--btn-input-on-light-ic-hover: var(--brand-1-700);
	--btn-input-on-light-label-current: var(--brand-1-700);
	--btn-input-on-light-label-default: var(--gray-1);
	--btn-input-on-light-label-hover: var(--brand-1-700);
	--btn-primary-on-dark-fill-opacity-bg-border-default: var(--white-opacity-12);
	--btn-primary-on-dark-fill-opacity-bg-border-disabled: var(--white-opacity-12);
	--btn-primary-on-dark-fill-opacity-bg-border-hover: var(--white-opacity-20);
	--btn-primary-on-dark-fill-opacity-label-default: var(--brand-1-500);
	--btn-primary-on-dark-fill-opacity-label-disabled: var(--white-opacity-40);
	--btn-primary-on-dark-fill-opacity-label-hover: var(--brand-1-500);
	--btn-primary-on-dark-fill-bg-default: var(--brand-1-600);
	--btn-primary-on-dark-fill-bg-disabled: var(--gray-500);
	--btn-primary-on-dark-fill-bg-hover: var(--brand-1-700);
	--btn-primary-on-dark-fill-label-default: var(--white-opacity-100);
	--btn-primary-on-dark-fill-label-disabled: var(--white-opacity-90);
	--btn-primary-on-dark-fill-label-hover: var(--white-opacity-100);
	--btn-primary-on-dark-link-label-default: var(--brand-1-500);
	--btn-primary-on-dark-link-label-disabled: var(--white-opacity-40);
	--btn-primary-on-dark-link-label-hover: var(--brand-1-500);
	--btn-primary-on-dark-stroke-border-default: var(--brand-1-600);
	--btn-primary-on-dark-stroke-border-disabled: var(--gray-500);
	--btn-primary-on-dark-stroke-border-hover: var(--brand-1-700);
	--btn-primary-on-dark-stroke-label-default: var(--brand-1-500);
	--btn-primary-on-dark-stroke-label-disabled: var(--white-opacity-40);
	--btn-primary-on-dark-stroke-label-hover: var(--brand-1-500);
	--btn-primary-on-dark-text-bg-default: var(--white-opacity-0);
	--btn-primary-on-dark-text-bg-disabled: var(--white-opacity-0);
	--btn-primary-on-dark-text-bg-hover: var(--white-opacity-8);
	--btn-primary-on-dark-text-label-default: var(--white-opacity-90);
	--btn-primary-on-dark-text-label-disabled: var(--white-opacity-40);
	--btn-primary-on-dark-text-label-hover: var(--white-opacity-90);
	--btn-primary-on-light-fill-opacity-bg-default: var(--white-opacity-12);
	--btn-primary-on-light-fill-opacity-bg-disabled: var(--white-opacity-12);
	--btn-primary-on-light-fill-opacity-bg-hover: var(--white-opacity-8);
	--btn-primary-on-light-fill-opacity-label-default: var(--brand-1-700);
	--btn-primary-on-light-fill-opacity-label-disabled: var(--gray-400);
	--btn-primary-on-light-fill-opacity-label-hover: var(--brand-1-700);
	--btn-primary-on-light-fill-bg-default: var(--brand-1-600);
	--btn-primary-on-light-fill-bg-disabled: var(--gray-400);
	--btn-primary-on-light-fill-bg-hover: var(--brand-1-700);
	--btn-primary-on-light-fill-label-default: var(--white-opacity-100);
	--btn-primary-on-light-fill-label-disabled: var(--white-opacity-90);
	--btn-primary-on-light-fill-label-hover: var(--white-opacity-100);
	--btn-primary-on-light-link-label-default: var(--brand-1-700);
	--btn-primary-on-light-link-label-disabled: var(--gray-500);
	--btn-primary-on-light-link-label-hover: var(--brand-1-700);
	--btn-primary-on-light-stroke-border-default: var(--brand-1-600);
	--btn-primary-on-light-stroke-border-disabled: var(--gray-400);
	--btn-primary-on-light-stroke-border-hover: var(--brand-1-700);
	--btn-primary-on-light-stroke-label-default: var(--brand-1-700);
	--btn-primary-on-light-stroke-label-disabled: var(--gray-500);
	--btn-primary-on-light-stroke-label-hover: var(--brand-1-700);
	--btn-primary-on-light-text-bg-default: var(--white-opacity-0);
	--btn-primary-on-light-text-bg-disabled: var(--white-opacity-0);
	--btn-primary-on-light-text-bg-hover: var(--white-opacity-8);
	--btn-primary-on-light-text-label-default: var(--brand-1-700);
	--btn-primary-on-light-text-label-disabled: var(--gray-500);
	--btn-primary-on-light-text-label-hover: var(--brand-1-700);
	--btn-secondary-on-dark-fill-opacity-bg-border-default: var(--white-opacity-12);
	--btn-secondary-on-dark-fill-opacity-bg-border-disabled: var(--white-opacity-12);
	--btn-secondary-on-dark-fill-opacity-bg-border-hover: var(--white-opacity-20);
	--btn-secondary-on-dark-fill-opacity-label-default: var(--white-opacity-90);
	--btn-secondary-on-dark-fill-opacity-label-disabled: var(--white-opacity-40);
	--btn-secondary-on-dark-fill-opacity-label-hover: var(--white-opacity-90);
	--btn-secondary-on-dark-fill-bg-default: var(--white-opacity-100);
	--btn-secondary-on-dark-fill-bg-disabled: var(--white-opacity-80);
	--btn-secondary-on-dark-fill-bg-hover: var(--white-opacity-80);
	--btn-secondary-on-dark-fill-label-default: var(--white-opacity-100);
	--btn-secondary-on-dark-fill-label-disabled: var(--white-opacity-90);
	--btn-secondary-on-dark-fill-label-hover: var(--white-opacity-100);
	--btn-secondary-on-dark-link-label-default: var(--white-opacity-90);
	--btn-secondary-on-dark-link-label-disabled: var(--white-opacity-40);
	--btn-secondary-on-dark-link-label-hover: var(--white-opacity-90);
	--btn-secondary-on-dark-stroke-border-default: var(--white-opacity-100);
	--btn-secondary-on-dark-stroke-border-disabled: var(--white-opacity-60);
	--btn-secondary-on-dark-stroke-border-hover: var(--white-opacity-40);
	--btn-secondary-on-dark-stroke-label-default: var(--white-opacity-90);
	--btn-secondary-on-dark-stroke-label-disabled: var(--white-opacity-40);
	--btn-secondary-on-dark-stroke-label-hover: var(--white-opacity-90);
	--btn-secondary-on-dark-text-bg-default: var(--white-opacity-0);
	--btn-secondary-on-dark-text-bg-disabled: var(--white-opacity-0);
	--btn-secondary-on-dark-text-bg-hover: var(--white-opacity-8);
	--btn-secondary-on-dark-text-label-default: var(--white-opacity-90);
	--btn-secondary-on-dark-text-label-disabled: var(--white-opacity-40);
	--btn-secondary-on-dark-text-label-hover: var(--white-opacity-90);
	--btn-secondary-on-light-fill-opacity-bg-default: var(--white-opacity-12);
	--btn-secondary-on-light-fill-opacity-bg-disabled: var(--white-opacity-12);
	--btn-secondary-on-light-fill-opacity-bg-hover: var(--white-opacity-8);
	--btn-secondary-on-light-fill-opacity-label-default: var(--gray-1);
	--btn-secondary-on-light-fill-opacity-label-disabled: var(--gray-400);
	--btn-secondary-on-light-fill-opacity-label-hover: var(--gray-1);
	--btn-secondary-on-light-fill-bg-default: var(--gray-1);
	--btn-secondary-on-light-fill-bg-disabled: var(--gray-400);
	--btn-secondary-on-light-fill-bg-hover: var(--gray-800);
	--btn-secondary-on-light-fill-label-default: var(--white-opacity-100);
	--btn-secondary-on-light-fill-label-disabled: var(--white-opacity-90);
	--btn-secondary-on-light-fill-label-hover: var(--white-opacity-100);
	--btn-secondary-on-light-link-label-default: var(--gray-1);
	--btn-secondary-on-light-link-label-disabled: var(--gray-500);
	--btn-secondary-on-light-link-label-hover: var(--gray-1);
	--btn-secondary-on-light-stroke-border-default: var(--gray-1);
	--btn-secondary-on-light-stroke-border-disabled: var(--gray-400);
	--btn-secondary-on-light-stroke-border-hover: var(--gray-800);
	--btn-secondary-on-light-stroke-label-default: var(--gray-1);
	--btn-secondary-on-light-stroke-label-disabled: var(--gray-500);
	--btn-secondary-on-light-stroke-label-hover: var(--gray-1);
	--btn-secondary-on-light-text-bg-default: var(--white-opacity-0);
	--btn-secondary-on-light-text-bg-disabled: var(--white-opacity-0);
	--btn-secondary-on-light-text-bg-hover: var(--white-opacity-8);
	--btn-secondary-on-light-text-label-default: var(--gray-1);
	--btn-secondary-on-light-text-label-disabled: var(--gray-500);
	--btn-secondary-on-light-text-label-hover: var(--gray-1);
	--card-on-dark-bg-darker-bg-default: var(--white-opacity-12);
	--card-on-dark-bg-darker-bg-hover: var(--white-opacity-8);
	--card-on-dark-bg-darker-border-default: var(--white-opacity-12);
	--card-on-dark-bg-darker-border-hover: var(--white-opacity-20);
	--card-on-dark-bg-darker-ic-wrap: var(--white-opacity-100);
	--card-on-dark-bg-darker-icon-default: var(--brand-1-500);
	--card-on-dark-bg-darker-icon-hover: var(--brand-1-500);
	--card-on-dark-bg-darker-numbers: var(--brand-1-600);
	--card-on-dark-bg-darker-price: var(--brand-1-500);
	--card-on-dark-bg-darker-title-default: var(--white-opacity-100);
	--card-on-dark-bg-darker-title-hover: var(--brand-1-500);
	--card-on-dark-bg-lighter-bg-default: var(--white-opacity-20);
	--card-on-dark-bg-lighter-bg-hover: var(--white-opacity-8);
	--card-on-dark-bg-lighter-border-default: var(--white-opacity-12);
	--card-on-dark-bg-lighter-border-hover: var(--white-opacity-20);
	--card-on-dark-bg-lighter-ic-wrap: var(--white-opacity-100);
	--card-on-dark-bg-lighter-icon-default: var(--brand-1-600);
	--card-on-dark-bg-lighter-icon-hover: var(--brand-1-600);
	--card-on-dark-bg-lighter-numbers: var(--white-opacity-100);
	--card-on-dark-bg-lighter-price: var(--white-opacity-100);
	--card-on-dark-bg-lighter-title-default: var(--white-opacity-100);
	--card-on-dark-bg-lighter-title-hover: var(--white-opacity-100);
	--card-on-light-bg-darker-bg-default: var(--white-opacity-8);
	--card-on-light-bg-darker-bg-hover: var(--white-opacity-12);
	--card-on-light-bg-darker-border-default: var(--brand-1-300);
	--card-on-light-bg-darker-border-hover: var(--brand-1-400);
	--card-on-light-bg-darker-ic-wrap: var(--white-opacity-90);
	--card-on-light-bg-darker-icon-default: var(--brand-1-600);
	--card-on-light-bg-darker-icon-hover: var(--brand-1-600);
	--card-on-light-bg-darker-numbers: var(--brand-1-600);
	--card-on-light-bg-darker-price: var(--brand-1-600);
	--card-on-light-bg-darker-title-default: var(--white-opacity-100);
	--card-on-light-bg-darker-title-hover: var(--brand-1-600);
	--card-on-light-bg-lighter-bg-default: var(--white-opacity-8);
	--card-on-light-bg-lighter-bg-hover: var(--white-opacity-12);
	--card-on-light-bg-lighter-border-default: var(--brand-1-100);
	--card-on-light-bg-lighter-border-hover: var(--brand-1-200);
	--card-on-light-bg-lighter-ic-wrap: var(--white-opacity-90);
	--card-on-light-bg-lighter-icon-default: var(--brand-1-600);
	--card-on-light-bg-lighter-icon-hover: var(--brand-1-600);
	--card-on-light-bg-lighter-numbers: var(--brand-1-600);
	--card-on-light-bg-lighter-price: var(--brand-1-600);
	--card-on-light-bg-lighter-title-default: var(--white-opacity-100);
	--card-on-light-bg-lighter-title-hover: var(--brand-1-600);
	--checkbox-border-disabled: var(--white-opacity-20);
	--checkbox-border-enable: var(--brand-1-200);
	--checkbox-border-hover: var(--brand-1-300);
	--checkbox-fill-disabled: var(--white-opacity-8);
	--checkbox-fill-disabled-selected: var(--gray-400);
	--checkbox-fill-hover-selected: var(--brand-1-700);
	--checkbox-fill-selected: var(--brand-1-600);
	--checkbox-icon-icon-fill: var(--white-opacity-100);
	--footer-subtitle: var(--gray-1);
	--footer-nav-item-ic-default: var(--gray-400);
	--footer-nav-item-ic-hover: var(--gray-600);
	--footer-nav-item-label-default: var(--gray-600);
	--footer-nav-item-label-hover: var(--gray-600);
	--header-items-on-dark-ic-current: var(--brand-1-500);
	--header-items-on-dark-ic-default: var(--brand-1-500);
	--header-items-on-dark-ic-hover: var(--brand-1-500);
	--header-items-on-dark-ic-wrap-bg-default: var(--white-opacity-12);
	--header-items-on-dark-ic-wrap-bg-hover: var(--white-opacity-0);
	--header-items-on-dark-ic-wrap-border-default: var(--white-opacity-20);
	--header-items-on-dark-ic-wrap-border-hover: var(--white-opacity-30);
	--header-items-on-dark-main-nav-label-current: var(--brand-1-500);
	--header-items-on-dark-main-nav-label-default: var(--white-opacity-90);
	--header-items-on-dark-main-nav-label-hover: var(--brand-1-500);
	--header-items-on-dark-top-nav-label-current: var(--brand-1-600);
	--header-items-on-dark-top-nav-label-default: var(--white-opacity-90);
	--header-items-on-dark-top-nav-label-hover: var(--white-opacity-60);
	--header-items-on-light-ic-current: var(--brand-1-600);
	--header-items-on-light-ic-default: var(--brand-1-600);
	--header-items-on-light-ic-hover: var(--brand-1-700);
	--header-items-on-light-ic-wrap-bg-default: var(--white-opacity-0);
	--header-items-on-light-ic-wrap-bg-hover: var(--white-opacity-0);
	--header-items-on-light-ic-wrap-border-default: var(--brand-1-200);
	--header-items-on-light-ic-wrap-border-hover: var(--brand-1-300);
	--header-items-on-light-main-nav-label-current: var(--brand-1-700);
	--header-items-on-light-main-nav-label-default: var(--gray-1);
	--header-items-on-light-main-nav-label-hover: var(--brand-1-700);
	--header-items-on-light-top-nav-label-current: var(--brand-1-700);
	--header-items-on-light-top-nav-label-default: var(--gray-1);
	--header-items-on-light-top-nav-label-hover: var(--gray-600);
	--overlay-default: #00000099;
	--overlay-on-img: #000000cc;
	--pagination-on-dark-border-current: var(--brand-1-700);
	--pagination-on-dark-border-default: var(--white-opacity-0);
	--pagination-on-dark-border-disabled: var(--white-opacity-0);
	--pagination-on-dark-border-hover: var(--white-opacity-0);
	--pagination-on-dark-label-current: var(--brand-1-500);
	--pagination-on-dark-label-default: var(--white-opacity-90);
	--pagination-on-dark-label-disabled: var(--white-opacity-40);
	--pagination-on-dark-label-hover: var(--brand-1-500);
	--pagination-on-light-border-current: var(--brand-1-300);
	--pagination-on-light-border-default: var(--white-opacity-0);
	--pagination-on-light-border-disabled: var(--white-opacity-0);
	--pagination-on-light-border-hover: var(--white-opacity-0);
	--pagination-on-light-label-current: var(--brand-1-700);
	--pagination-on-light-label-default: var(--gray-1);
	--pagination-on-light-label-disabled: var(--gray-500);
	--pagination-on-light-label-hover: var(--brand-1-700);
	--sidebar-on-dark-ic-current: var(--brand-1-500);
	--sidebar-on-dark-ic-default: var(--white-opacity-100);
	--sidebar-on-dark-ic-hover: var(--brand-1-500);
	--sidebar-on-dark-label-current: var(--brand-1-500);
	--sidebar-on-dark-label-default: var(--white-opacity-90);
	--sidebar-on-dark-label-hover: var(--brand-1-500);
	--sidebar-on-light-ic-current: var(--brand-1-600);
	--sidebar-on-light-ic-default: var(--brand-1-600);
	--sidebar-on-light-ic-hover: var(--brand-1-700);
	--sidebar-on-light-label-current: var(--brand-1-700);
	--sidebar-on-light-label-default: var(--gray-1);
	--sidebar-on-light-label-hover: var(--brand-1-700);
	--steps-marker-border: var(--white-opacity-20);
	--surface-primary-default: var(--brand-1-500);
	--surface-primary-disable: var(--white-opacity-60);
	--surface-primary-hover: var(--brand-1-600);
	--surface-primary-light-default: var(--brand-1-500);
	--surface-primary-light-disable: var(--white-opacity-60);
	--surface-primary-light-hover: var(--brand-1-600);
	--surface-secondary-default: var(--white-opacity-90);
	--surface-secondary-disabled: var(--white-opacity-60);
	--surface-secondary-hover: var(--white-opacity-100);
	--table-divider: var(--white-opacity-20);
	--text-field-underline-border-disabled: var(--white-opacity-12);
	--text-field-underline-border-enabled: var(--white-opacity-20);
	--text-field-underline-border-error: var(--system-red-500);
	--text-field-underline-border-error-focused: var(--system-red-700);
	--text-field-underline-border-error-hover: var(--system-red-600);
	--text-field-underline-border-filled: var(--white-opacity-20);
	--text-field-underline-border-focused: var(--brand-1-600);
	--text-field-underline-border-hover: var(--white-opacity-40);
	--text-field-underline-cursor-enabled: var(--brand-1-400);
	--text-field-underline-cursor-error: var(--system-red-700);
	--text-field-underline-helper-error-text-disabled: var(--white-opacity-40);
	--text-field-underline-helper-error-text-enabled: var(--white-opacity-60);
	--text-field-underline-helper-error-text-error: var(--system-red-400);
	--text-field-underline-icon-disabled: var(--white-opacity-40);
	--text-field-underline-icon-enabled: var(--white-opacity-60);
	--text-field-underline-icon-error: var(--system-red-600);
	--text-field-underline-icon-filled: var(--white-opacity-60);
	--text-field-underline-icon-focused: var(--white-opacity-60);
	--text-field-underline-input-text-disabled: var(--white-opacity-40);
	--text-field-underline-input-text-error: var(--system-red-600);
	--text-field-underline-input-text-filled: var(--gray-1);
	--text-field-underline-input-text-focused: var(--gray-1);
	--text-field-underline-label-disabled: var(--white-opacity-40);
	--text-field-underline-label-enabled: var(--gray-600);
	--text-field-underline-label-error: var(--system-red-500);
	--text-field-underline-label-filled: var(--gray-600);
	--text-field-underline-label-focused: var(--gray-600);
	--text-field-underline-placeholder-disabled: var(--white-opacity-40);
	--text-field-underline-placeholder-enabled: var(--white-opacity-40);
	--text-field-underline-placeholder-error: var(--white-opacity-40);
	--text-on-dark-bg-darker-high: var(--white-opacity-90);
	--text-on-dark-bg-darker-link: var(--brand-1-600);
	--text-on-dark-bg-darker-medium: var(--white-opacity-80);
	--text-on-dark-bg-darker-primary: var(--brand-1-600);
	--text-on-dark-bg-darker-tertiary: var(--white-opacity-40);
	--text-on-dark-bg-img-high: var(--white-opacity-80);
	--text-on-dark-bg-img-link: var(--brand-1-600);
	--text-on-dark-bg-img-medium: var(--white-opacity-60);
	--text-on-dark-bg-img-primary: var(--brand-1-600);
	--text-on-dark-bg-img-tertiary: var(--white-opacity-20);
	--text-on-dark-bg-lighter-high: var(--white-opacity-80);
	--text-on-dark-bg-lighter-link: var(--white-opacity-90);
	--text-on-dark-bg-lighter-medium: var(--white-opacity-80);
	--text-on-dark-bg-lighter-primary: var(--white-opacity-100);
	--text-on-dark-bg-lighter-tertiary: var(--white-opacity-80);
	--text-on-light-bg-darker-high: var(--white-opacity-60);
	--text-on-light-bg-darker-link: var(--brand-1-600);
	--text-on-light-bg-darker-medium: var(--white-opacity-40);
	--text-on-light-bg-darker-primary: var(--brand-1-600);
	--text-on-light-bg-darker-tertiary: var(--white-opacity-30);
	--text-on-light-bg-lighter-high: var(--white-opacity-60);
	--text-on-light-bg-lighter-link: var(--brand-1-600);
	--text-on-light-bg-lighter-medium: var(--white-opacity-40);
	--text-on-light-bg-lighter-primary: var(--brand-1-600);
	--text-on-light-bg-lighter-tertiary: var(--white-opacity-30);
	--text-on-surface-primary-default: var(--gray-900);
	--text-on-surface-primary-disable: var(--gray-600);
	--text-on-surface-primary-hover: var(--gray-900);
	--text-on-surface-secondary-default: var(--gray-900);
	--text-on-surface-secondary-disable: var(--gray-600);
	--text-on-surface-secondary-hover: var(--gray-900);
	--theses-color: #ffffff;
	--theses-border-on-default: var(--white-opacity-20);
	--theses-border-on-primary: var(--white-opacity-20);
	--theses-border-on-secondary: var(--white-opacity-20);
	--theses-border-on-tone: var(--white-opacity-20);
	--theses-item-bg-default: var(--gray-800);
	--theses-item-bg-primary: var(--brand-1-600);
	--theses-item-bg-secondary: var(--brand-2-600);
	--theses-item-bg-tone: var(--gray-500);
  }