[data-theme="green-violet"] {
	/* colors */
	--brand-1-1: #1655c1;
	--brand-1-100: #e6ecf6;
	--brand-1-200: #d2ddf0;
	--brand-1-300: #c6d5ef;
	--brand-1-400: #b7cff8;
	--brand-1-50: #f4f5f8;
	--brand-1-500: #97bdff;
	--brand-1-600: #6ba1ff;
	--brand-1-700: #007aff;
	--brand-1-800: #306fdb;
	--brand-1-900: #1f60ce;
	--brand-2-1: #cf4b00;
	--brand-2-100: #ffe0cc;
	--brand-2-200: #fbd0b4;
	--brand-2-300: #ffc096;
	--brand-2-400: #ffaa72;
	--brand-2-50: #fce9dd;
	--brand-2-500: #ff944c;
	--brand-2-600: #fd7c26;
	--brand-2-700: #ff6600;
	--brand-2-800: #f16000;
	--brand-2-900: #de5800;
	--brand-3-300: #d0bcff;
	--brand-3-700: #9e78f5;
	--gray-1: #1c1c1e;
	--gray-100: #e5e5ea;
	--gray-200: #d1d1d6;
	--gray-300: #c7c7cc;
	--gray-400: #aeaeb2;
	--gray-50: #f2f2f7;
	--gray-500: #8e8e93;
	--gray-600: #636366;
	--gray-700: #48484a;
	--gray-800: #3a3a3c;
	--gray-900: #1c1c1e;
	--gray-opacity-0: #1c1c1e00;
	--gray-opacity-12: #1c1c1e1f;
	--gray-opacity-20: #1c1c1e33;
	--gray-opacity-30: #1c1c1e4d;
	--gray-opacity-40: #1c1c1e66;
	--gray-opacity-60: #1c1c1e99;
	--gray-opacity-8: #1c1c1e14;
	--gray-opacity-80: #1c1c1ecc;
	--system-green-100: #eaf8ed;
	--system-green-200: #d5f1dc;
	--system-green-300: #bfeaca;
	--system-green-400: #aae3b8;
	--system-green-50: #f4fbf6;
	--system-green-500: #95dca6;
	--system-green-600: #80d595;
	--system-green-700: #30ce57;
	--system-green-800: #2bb94e;
	--system-green-green-900: #22943e;
	--system-orange-100: #fff0e5;
	--system-orange-200: #ffe1cc;
	--system-orange-300: #ffd3b2;
	--system-orange-400: #ffc499;
	--system-orange-50: #fff8f2;
	--system-orange-500: #ffb580;
	--system-orange-600: #ff974d;
	--system-orange-700: #ff7a00;
	--system-orange-800: #ff6b00;
	--system-orange-900: #f64a00;
	--system-red-100: #ffeceb;
	--system-red-200: #ffdad8;
	--system-red-300: #ffc7c4;
	--system-red-400: #ffb5b0;
	--system-red-50: #fff6f5;
	--system-red-500: #ff8f89;
	--system-red-600: #ff6a61;
	--system-red-700: #ff453a;
	--system-red-800: #e53e34;
	--system-red-red-900: #b7322a;
	--white-opacity-0: #ffffff00;
	--white-opacity-100: #ffffff;
	--white-opacity-12: #ffffff1f;
	--white-opacity-20: #ffffff33;
	--white-opacity-30: #ffffff4d;
	--white-opacity-40: #ffffff66;
	--white-opacity-60: #ffffff99;
	--white-opacity-8: #ffffff14;
	--white-opacity-80: #ffffffcc;
	--white-opacity-90: #ffffffe5;
}

[data-theme="orange-teal"] {
	/* colors */
	--brand-1-1: #cc5940;
	--brand-1-100: #f2e4e1;
	--brand-1-200: #ecd2cc;
	--brand-1-300: #ecb0a3;
	--brand-1-400: #e39b8b;
	--brand-1-50: #faf4f2;
	--brand-1-500: #e37e68;
	--brand-1-600: #e0735b;
	--brand-1-700: #de6c54;
	--brand-1-800: #d7654c;
	--brand-1-900: #d06046;
	--brand-2-1: #1c3139;
	--brand-2-100: #caf1ff;
	--brand-2-200: #b2e3f5;
	--brand-2-300: #a2d9ee;
	--brand-2-400: #82c5dd;
	--brand-2-50: #e9f8fe;
	--brand-2-500: #46bbe5;
	--brand-2-600: #2fa6d1;
	--brand-2-700: #0786b4;
	--brand-2-800: #007199;
	--brand-2-900: #00516f;
	--brand-3-300: #ffe090;
	--brand-3-700: #cb9200;
	--gray-1: #0d0d0d;
	--gray-100: #e9eff5;
	--gray-200: #d0dce8;
	--gray-300: #b4c5d7;
	--gray-400: #7690ab;
	--gray-50: #f2f6f9;
	--gray-500: #506c8a;
	--gray-600: #395572;
	--gray-700: #334b64;
	--gray-800: #2a3d51;
	--gray-900: #223344;
	--gray-opacity-0: #18263300;
	--gray-opacity-12: #1826331f;
	--gray-opacity-20: #18263333;
	--gray-opacity-30: #1826334d;
	--gray-opacity-40: #18263366;
	--gray-opacity-60: #18263399;
	--gray-opacity-8: #18263314;
	--gray-opacity-80: #182633cc;
	--system-green-100: #eaf8ed;
	--system-green-200: #d5f1dc;
	--system-green-300: #bfeaca;
	--system-green-400: #aae3b8;
	--system-green-50: #f4fbf6;
	--system-green-500: #95dca6;
	--system-green-600: #80d595;
	--system-green-700: #30ce57;
	--system-green-800: #2bb94e;
	--system-green-green-900: #22943e;
	--system-orange-100: #fff0e5;
	--system-orange-200: #ffe1cc;
	--system-orange-300: #ffd3b2;
	--system-orange-400: #ffc499;
	--system-orange-50: #fff8f2;
	--system-orange-500: #ffb580;
	--system-orange-600: #ff974d;
	--system-orange-700: #ff7a00;
	--system-orange-800: #ff6b00;
	--system-orange-900: #f64a00;
	--system-red-100: #ffeceb;
	--system-red-200: #ffdad8;
	--system-red-300: #ffc7c4;
	--system-red-400: #ffb5b0;
	--system-red-50: #fff6f5;
	--system-red-500: #ff8f89;
	--system-red-600: #ff6a61;
	--system-red-700: #ff453a;
	--system-red-800: #e53e34;
	--system-red-red-900: #b7322a;
	--white-opacity-0: #ffffff00;
	--white-opacity-100: #ffffff;
	--white-opacity-12: #ffffff1f;
	--white-opacity-20: #ffffff33;
	--white-opacity-30: #ffffff4d;
	--white-opacity-40: #ffffff66;
	--white-opacity-60: #ffffff99;
	--white-opacity-8: #ffffff14;
	--white-opacity-80: #ffffffcc;
	--white-opacity-90: #ffffffe5;
}