[data-theme="nova-era"] {
	/* colors */
	--brand-1-1: #1655c1;
	--brand-1-100: #e6edf6;
	--brand-1-200: #cedff3;
	--brand-1-300: #bcd5f3;
	--brand-1-400: #96c0f3;
	--brand-1-50: #f4f6f8;
	--brand-1-500: #60aafd;
	--brand-1-600: #3783e1;
	--brand-1-700: #1374e9;
	--brand-1-800: #0063dc;
	--brand-1-900: #065eca;
	--brand-2-1: #604100;
	--brand-2-100: #fff3b8;
	--brand-2-200: #ffe55d;
	--brand-2-300: #ffd602;
	--brand-2-400: #f9ca0e;
	--brand-2-50: #fffbe5;
	--brand-2-500: #f2be19;
	--brand-2-600: #e8aa2b;
	--brand-2-700: #c68d19;
	--brand-2-800: #a4720c;
	--brand-2-900: #825802;
	--brand-3-300: #ffffff;
	--brand-3-700: #ffffff;
	--gray-1: #1c1c1e;
	--gray-100: #e8eaf3;
	--gray-200: #d7d9e4;
	--gray-300: #c6c9d1;
	--gray-400: #b0b2ba;
	--gray-50: #f3f5fc;
	--gray-500: #8d8f98;
	--gray-600: #636467;
	--gray-700: #474752;
	--gray-800: #373744;
	--gray-900: #1f2023;
	--gray-opacity-0: #1c1c1e00;
	--gray-opacity-12: #1c1c1e1f;
	--gray-opacity-20: #1c1c1e33;
	--gray-opacity-30: #1c1c1e4d;
	--gray-opacity-40: #1c1c1e66;
	--gray-opacity-60: #1c1c1e99;
	--gray-opacity-8: #1c1c1e14;
	--gray-opacity-80: #1c1c1ecc;
	--system-green-100: #eaf8ed;
	--system-green-200: #d5f1dc;
	--system-green-300: #bfeaca;
	--system-green-400: #aae3b8;
	--system-green-50: #f4fbf6;
	--system-green-500: #95dca6;
	--system-green-600: #80d595;
	--system-green-700: #30ce57;
	--system-green-800: #2bb94e;
	--system-green-green-900: #22943e;
	--system-orange-100: #fff0e5;
	--system-orange-200: #ffe1cc;
	--system-orange-300: #ffd3b2;
	--system-orange-400: #ffc499;
	--system-orange-50: #fff8f2;
	--system-orange-500: #ffb580;
	--system-orange-600: #ff974d;
	--system-orange-700: #ff7a00;
	--system-orange-800: #ff6b00;
	--system-orange-900: #f64a00;
	--system-red-100: #ffeceb;
	--system-red-200: #ffdad8;
	--system-red-300: #ffc7c4;
	--system-red-400: #ffb5b0;
	--system-red-50: #fff6f5;
	--system-red-500: #ff8f89;
	--system-red-600: #ff6a61;
	--system-red-700: #ff453a;
	--system-red-800: #e53e34;
	--system-red-red-900: #b7322a;
	--white-opacity-0: #ffffff00;
	--white-opacity-100: #ffffff;
	--white-opacity-12: #ffffff1f;
	--white-opacity-20: #ffffff33;
	--white-opacity-30: #ffffff4d;
	--white-opacity-40: #ffffff66;
	--white-opacity-60: #ffffff99;
	--white-opacity-8: #ffffff14;
	--white-opacity-80: #ffffffcc;
	--white-opacity-90: #ffffffe5;
  }
  [data-theme="orange-teal"] {
	/* colors */
	--brand-1-1: #cc5940;
	--brand-1-100: #f2e4e1;
	--brand-1-200: #ecd2cc;
	--brand-1-300: #ecb0a3;
	--brand-1-400: #e39b8b;
	--brand-1-50: #faf4f2;
	--brand-1-500: #e37e68;
	--brand-1-600: #e0735b;
	--brand-1-700: #de6c54;
	--brand-1-800: #d7654c;
	--brand-1-900: #d06046;
	--brand-2-1: #1c3139;
	--brand-2-100: #caf1ff;
	--brand-2-200: #b2e3f5;
	--brand-2-300: #a2d9ee;
	--brand-2-400: #82c5dd;
	--brand-2-50: #e9f8fe;
	--brand-2-500: #46bbe5;
	--brand-2-600: #2fa6d1;
	--brand-2-700: #0786b4;
	--brand-2-800: #007199;
	--brand-2-900: #00516f;
	--brand-3-300: #ffe090;
	--brand-3-700: #cb9200;
	--gray-1: #0d0d0d;
	--gray-100: #e9eff5;
	--gray-200: #d0dce8;
	--gray-300: #b4c5d7;
	--gray-400: #7690ab;
	--gray-50: #f2f6f9;
	--gray-500: #506c8a;
	--gray-600: #395572;
	--gray-700: #334b64;
	--gray-800: #2a3d51;
	--gray-900: #223344;
	--gray-opacity-0: #18263300;
	--gray-opacity-12: #1826331f;
	--gray-opacity-20: #18263333;
	--gray-opacity-30: #1826334d;
	--gray-opacity-40: #18263366;
	--gray-opacity-60: #18263399;
	--gray-opacity-8: #18263314;
	--gray-opacity-80: #182633cc;
	--system-green-100: #eaf8ed;
	--system-green-200: #d5f1dc;
	--system-green-300: #bfeaca;
	--system-green-400: #aae3b8;
	--system-green-50: #f4fbf6;
	--system-green-500: #95dca6;
	--system-green-600: #80d595;
	--system-green-700: #30ce57;
	--system-green-800: #2bb94e;
	--system-green-green-900: #22943e;
	--system-orange-100: #fff0e5;
	--system-orange-200: #ffe1cc;
	--system-orange-300: #ffd3b2;
	--system-orange-400: #ffc499;
	--system-orange-50: #fff8f2;
	--system-orange-500: #ffb580;
	--system-orange-600: #ff974d;
	--system-orange-700: #ff7a00;
	--system-orange-800: #ff6b00;
	--system-orange-900: #f64a00;
	--system-red-100: #ffeceb;
	--system-red-200: #ffdad8;
	--system-red-300: #ffc7c4;
	--system-red-400: #ffb5b0;
	--system-red-50: #fff6f5;
	--system-red-500: #ff8f89;
	--system-red-600: #ff6a61;
	--system-red-700: #ff453a;
	--system-red-800: #e53e34;
	--system-red-red-900: #b7322a;
	--white-opacity-0: #ffffff00;
	--white-opacity-100: #ffffff;
	--white-opacity-12: #ffffff1f;
	--white-opacity-20: #ffffff33;
	--white-opacity-30: #ffffff4d;
	--white-opacity-40: #ffffff66;
	--white-opacity-60: #ffffff99;
	--white-opacity-8: #ffffff14;
	--white-opacity-80: #ffffffcc;
	--white-opacity-90: #ffffffe5;
  }